@model msit59_vita.Models.ManagerOrders
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

@section MyStyle {
    <link rel="stylesheet" href="~/css/Manager/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Manager/ManagerOrders.css" asp-append-version="true" />
    <title>VITA-Manage Orders</title>
    <link rel="icon" type="image/x-icon" href="/image/logo/logo_30x30_dark.png">
}

@section BreadCrumb {
    <li class="breadcrumb-item" aria-current="page">
        <a href="~/ManagerHome/index"
           class="text-dark text-decoration-none fw-bolder">首頁</a>
    </li>
    <li class="breadcrumb-item">訂單管理</li>
}

@section Content{
    <div class=" row justify-content-center ">
        <div id="TableAreas" class=" pt-0 pb-4 ps-2 col-11 ">
            <div class="d-lg-flex mb-2 container-fluid">
                <div class="search-icon">
                    <a href="#" id="searchLink">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                    <input class="order-input border-2 rounded-3 py-1 pe-2 me-3 ps-3" type="text" id="searchString" placeholder="請輸入訂單編號">
                </div>
                <div class="d-flex">
                    <input class="order-input border-2 rounded-3 py-1 px-2" type="date" name="" id="startDate">
                    <span class="fw-bold">~</span>
                    <input class="order-input border-2 rounded-3 py-1 px-2 me-3" type="date" name="" id="endDate">
                </div>
                <div>
                    <select class="border-2 border-dark rounded-3 py-1 px-2 me-3 order-select" id="deliveryVia">
                        <option value="">訂單種類</option>
                        <option value="1">外送</option>
                        <option value="0">自取</option>
                    </select>
                </div>
                <div>
                    <select class="border-2 border-dark rounded-3 py-1 px-2 me-3 order-select" id="orderStatus">
                        <option value="">訂單狀態</option>
                        <option value="0">已完成</option>
                        <option value="1">未完成</option>
                        <option value="2">已退單</option>
                    </select>
                </div>
                <div>
                    <a href="/ManagerOrders/ManagerOrders" class="btn clear-btn btn-dark rounded-3 py-1 px-2">清除篩選</a>
                </div>
            </div>

            <table id="TableProducts" class=" table table-hover table-borderless border-bottom border-dark text-center">
                @await Html.PartialAsync("_OrdersTable")
            </table>

            @* pagination *@
            <!-- #region Pagination -->
            <div>
                <ul class="pagination align-items-center justify-content-center">

                    <li id="prevPageButton" class="btn page-item">
                        <a class="page-link text-dark" href="javascript:PagerClick(@(Model.CurrentPageIndex - 1))">Previous</a>
                    </li>

                    @{
                        if (Model.PageCount <= 3)
                        {
                                        <li id="pageBox1" class="page-item ">
                                            <a id="pageBox1-link" class="page-link text-dark" href="javascript:PagerClick(1)">
                                                1
                                            </a>
                                        </li>
                                        <li id="pageBox2" class="page-item 2">
                                            <a id="pageBox2-link" class="page-link text-dark" href="javascript:PagerClick(2)">
                                                2
                                            </a>
                                        </li>
                                        <li id="pageBox3" class="page-item  ">
                                            <a id="pageBox3-link" class="page-link text-dark" href="javascript:PagerClick(3)">
                                                3
                                            </a>
                                        </li>

                        }
                        else
                        {

                            // pageBox1
                            if (Model.CurrentPageIndex == 1)
                            {
                                            <li id="pageBox1" class="page-item active">
                                                <a id="pageBox1-link" class="page-link text-dark" href="javascript:PagerClick(1)">
                                                    1
                                                </a>
                                            </li>
                            }
                            else if (Model.CurrentPageIndex == Model.PageCount)
                            {
                                            <li id="pageBox1" class="page-item">
                                                <a id="pageBox1-link" class="page-link text-dark" href="javascript:PagerClick(@(Model.CurrentPageIndex -2))">
                                                    @(Model.CurrentPageIndex - 2)
                                                </a>
                                            </li>


                            }
                            else
                            {
                                            <li id="pageBox1" class="page-item">
                                                <a id="pageBox1-link" class="page-link text-dark" href="javascript:PagerClick(@(Model.CurrentPageIndex -1))">
                                                    @(Model.CurrentPageIndex - 1)
                                                </a>
                                            </li>
                            }

                            // pageBox2
                            if (Model.CurrentPageIndex == 1)
                            {
                                            <li id="pageBox2" class="page-item">
                                                <a id="pageBox2-link" class="page-link text-dark" href="javascript:PagerClick(2)">
                                                    2
                                                </a>
                                            </li>


                            }
                            else if (Model.CurrentPageIndex == Model.PageCount)
                            {
                                            <li id="pageBox2" class="page-item">
                                                <a id="pageBox2-link" class="page-link text-dark" href="javascript:PagerClick(@(Model.CurrentPageIndex - 1))">
                                                    @(Model.PageCount - 1)
                                                </a>
                                            </li>

                            }
                            else
                            {
                                            <li id="pageBox2" class="page-item active">
                                                <a id="pageBox2-link" class="page-link text-dark" href="javascript:PagerClick(@Model.CurrentPageIndex)">
                                                    @Model.CurrentPageIndex
                                                </a>
                                            </li>

                            }

                            // pageBox3
                            if (Model.CurrentPageIndex == Model.PageCount)
                            {
                                            <li id="pageBox3" class="page-item active">
                                                <a id="pageBox3-link" class="page-link text-dark" href="javascript:PagerClick(@Model.PageCount)">
                                                    @Model.PageCount
                                                </a>
                                            </li>
                            }
                            else if (Model.CurrentPageIndex == 1)
                            {
                                            <li id="pageBox3" class="page-item">
                                                <a id="pageBox3-link" class="page-link text-dark" href="javascript:PagerClick(@Model.CurrentPageIndex + 2)">
                                                    @(Model.CurrentPageIndex + 2)
                                                </a>
                                            </li>
                            }
                            else
                            {
                                            <li id="pageBox3" class="page-item">
                                                <a id="pageBox3-link" class="page-link text-dark" href="javascript:PagerClick(@Model.CurrentPageIndex + 1)">
                                                    @(Model.CurrentPageIndex + 1)
                                                </a>
                                            </li>

                            }

                        }
                    }

                    <li id="nextPageButton" class="btn page-item ">
                        <a class="page-link text-dark" href="javascript:PagerClick(@(Model.CurrentPageIndex +1))">Next</a>
                    </li>

                </ul>
            </div>

            <!-- #endregion -->
            <form id="paginationForm" method="get" action="/ManagerOrders/Index">
                <input type="hidden" id="hfCurrentPageIndex" name="currentPage" value="@Model.CurrentPageIndex" />
                <input type="hidden" id="hfPageCount" value="@Model.PageCount" />
            </form>

        </div>
    </div>

}

@section Scripts {

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>

        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        connection.start().then(function () {
            console.log("start connection");
        }).catch(function (err) {
            return console.error(err.toString());
        });

        // pagenation start
        // 在文件就緒時調用 updatePaginationButtons 函數
        $(document).ready(function () {
            updatePaginationButtons(parseInt($('#hfCurrentPageIndex').val()));
        });
        function PagerClick(currentPage) {
            if (sessionStorage.getItem('CustomerOrderStatus') != null & sessionStorage.getItem('todayDate') != null) {
                filterCustomerOrderStatus(currentPage)
                // 如果有篩選條件，使用篩選函數
            } else if ($('#searchString').val() || $('#startDate').val() || $('#endDate').val() || $('#deliveryVia').val() || $('#orderStatus').val()) {
                filterTable(currentPage);
            } else {
                // 否則使用原有的分頁函數
                $.ajax({
                    url: '/ManagerOrders/GetOrdersTable',
                    type: 'GET',
                    data: { currentPage: currentPage },
                    success: function (result) {
                        $('#TableProducts').html(result);
                        $("#hfCurrentPageIndex").val(currentPage);

                        // 從服務器響應中提取總頁數
                        var pageCount = $(result).find('#hfPageCount').val();

                        if (isNaN(pageCount) || pageCount <= 1) {
                            $('.pagination').addClass("d-none");
                        } else {
                            $('.pagination').removeClass("d-none");
                        }
                        $("#hfPageCount").val(pageCount);
                        updatePaginationButtons(currentPage);
                    }
                });
            }
        }

        function updatePaginationButtons(currentPage) {
            // 從隱藏字段中獲取總頁數
            var pageCount = parseInt($('#hfPageCount').val());

            // 更新 Previous 按鈕
            $('#prevPageButton').toggleClass('disabled', currentPage == 1);
            $('#prevPageButton a').attr('href', 'javascript:PagerClick(' + (currentPage - 1) + ')');

            // 更新 Next 按鈕
            $('#nextPageButton').toggleClass('disabled', currentPage == pageCount);
            $('#nextPageButton a').attr('href', 'javascript:PagerClick(' + (currentPage + 1) + ')');

            // 更新中間的頁碼按鈕
            if (pageCount <= 3) {
                for (var i = 1; i <= 3; i++) {
                    var $btn = $('#pageBox' + i);
                    var $link = $('#pageBox' + i + '-link');
                    $btn.toggleClass('active', currentPage == i);
                    $btn.toggleClass('disabled', i > pageCount);
                    $link.attr('href', 'javascript:PagerClick(' + i + ')');
                    $link.text(i);
                }
            } else {
                if (currentPage == 1) {
                    setPageBox(1, 1, true);
                    setPageBox(2, 2, false);
                    setPageBox(3, 3, false);
                } else if (currentPage == pageCount) {
                    setPageBox(1, pageCount - 2, false);
                    setPageBox(2, pageCount - 1, false);
                    setPageBox(3, pageCount, true);
                } else {
                    setPageBox(1, currentPage - 1, false);
                    setPageBox(2, currentPage, true);
                    setPageBox(3, currentPage + 1, false);
                }
            }
        }

        function setPageBox(boxIndex, pageNumber, isActive) {
            var $btn = $('#pageBox' + boxIndex);
            var $link = $('#pageBox' + boxIndex + '-link');
            $btn.toggleClass('active', isActive);
            $link.attr('href', 'javascript:PagerClick(' + pageNumber + ')');
            $link.text(pageNumber);
        }
        // pagenation end

        // update order status start
        document.addEventListener('DOMContentLoaded', function () {
            var modal = new bootstrap.Modal(document.getElementById('orderModal'));
            var actionTextSpan = document.getElementById('actionText');
            var confirmButton = document.getElementById('confirmAction');

            function setupEventListeners() {
                document.querySelectorAll('.show-alert').forEach(function (button) {
                    button.addEventListener('click', function (e) {
                        e.preventDefault();
                        var action = this.getAttribute('data-action');
                        var orderId = this.getAttribute('data-order-id');
                        var customerId = this.getAttribute('data-customer-id');
                        actionTextSpan.textContent = "訂單" + orderId + "，是否確認" + action + "？";

                        // 將訂單ID和操作存儲在確認按鈕上
                        confirmButton.setAttribute('data-order-id', orderId);
                        confirmButton.setAttribute('data-action', action);
                        confirmButton.setAttribute('data-customer-id', customerId);

                        modal.show();
                    });
                });
            }

            // 初始設置事件監聽器
            setupEventListeners();

            confirmButton.addEventListener('click', function () {
                var orderId = this.getAttribute('data-order-id');
                var action = this.getAttribute('data-action');
                var customerId = this.getAttribute('data-customer-id');

                $.ajax({
                    url: '/ManagerOrders/ChangeOrderStatus',
                    type: 'POST',
                    data: { orderId: orderId, action: action },
                    success: function (result) {
                        if (result.success) {
                            //singaIR發送
                            connection.invoke("SwitchOrderStatus", customerId, orderId, action).catch(function (err) {
                                return console.error(err.toString());
                            });


                            modal.hide();
                            // 重新加載訂單表格
                            reloadOrdersTable();
                        } else {
                            alert('操作失敗');
                        }
                    },
                    error: function () {
                        alert('發生錯誤，請稍後再試');
                    }
                });
            });
            // signalR 新進訂單時reload
            connection.on("NewOrders", function () {

                location.reload();

            })

            function reloadOrdersTable() {
                var currentPage = $("#hfCurrentPageIndex").val();
                $.ajax({
                    url: '/ManagerOrders/GetOrdersTable',
                    type: 'GET',
                    data: { currentPage: currentPage },
                    success: function (result) {
                        $('#TableProducts').html(result);
                        // 重新設置事件監聽器，因為表格內容已更新
                        setupEventListeners();
                    }
                });
            }
        });

        // update order status end


        // 篩選 start
        // 獲取過濾欄位
        const searchInput = document.getElementById('searchString');
        const searchLink = document.getElementById('searchLink');
        const startDateInput = document.getElementById('startDate');
        const endDateInput = document.getElementById('endDate');
        const deliveryViaSelect = document.getElementById('deliveryVia');
        const orderStatusSelect = document.getElementById('orderStatus');

        // 綁定事件處理程序
        searchLink.addEventListener('click', () => filterTable(1)); // 篩選時從第1頁開始
        startDateInput.addEventListener('change', () => filterTable(1));
        endDateInput.addEventListener('change', () => filterTable(1));
        deliveryViaSelect.addEventListener('change', () => filterTable(1));
        orderStatusSelect.addEventListener('change', () => filterTable(1));

        function filterTable(currentPage) {
            var endNextDay = "";
            if (endDateInput.value) {
                var endDate = new Date(endDateInput.value);
                endDate.setDate(endDate.getDate() + 1);
                endNextDay = endDate.toISOString().slice(0, 10);
            }

            const params = {
                searchString: searchInput.value,
                startDate: startDateInput.value,
                endDate: endNextDay,
                deliveryVia: deliveryViaSelect.value,
                orderStatus: orderStatusSelect.value,
                currentPage: currentPage // 添加當前頁碼
            };


            $.ajax({
                url: '/ManagerOrders/FilterOrders',
                type: 'POST',
                data: params,
                success: function (result) {
                    $('#TableProducts').html(result);

                    // 從服務器響應中提取總頁數和當前頁碼
                    var pageCount = $(result).find('#hfPageCount').val();
                    var currentPageIndex = $(result).find('#hfCurrentPageIndex').val();

                    // 重置分頁按鈕狀態
                    $('.page-item').removeClass('active disabled');

                    $("#hfPageCount").val(pageCount);
                    $("#hfCurrentPageIndex").val(currentPageIndex);

                    if (isNaN(pageCount) || pageCount <= 1) {
                        $('.pagination').addClass("d-none");
                    } else {
                        $('.pagination').removeClass("d-none");
                    }


                    updatePaginationButtons(parseInt(currentPageIndex));
                },
                error: function (xhr, status, error) {
                    console.error("Error in AJAX request:", error);
                }
            });
        }
        // row click
        // 將事件監聽綁到tableproducts上 避免ajax換頁之後row的點擊效果失效
        document.addEventListener('DOMContentLoaded', function () {
            var tableContainer = document.getElementById('TableProducts');

            tableContainer.addEventListener('click', function (event) {
                var row = event.target.closest('.order-tr');
                if (row && event.target.tagName !== 'BUTTON') {
                    var orderId = row.getAttribute('data-order-id');
                    window.location.href = '/ManagerOrders/OrderDetails/' + orderId;
                }
            });
        });


        // 從首頁今日訂單資訊導引過來訂單狀態
        function filterCustomerOrderStatus(currentPage, CustomerOrderStatus, TodayDate) {

            $.ajax({
                url: '/ManagerOrders/FilterCustomerOrderStatus',
                type: 'POST',
                data: {
                    orderStatus: CustomerOrderStatus,
                    todayDate: TodayDate,
                    currentPage: currentPage
                },
                success: function (result) {
                    $('#TableProducts').html(result);

                    // 從服務器響應中提取總頁數和當前頁碼
                    var pageCount = $(result).find('#hfPageCount').val();
                    var currentPageIndex = $(result).find('#hfCurrentPageIndex').val();

                    if (isNaN(pageCount) || pageCount <= 1) {
                        $('.pagination').addClass("d-none");
                    } else {
                        $('.pagination').removeClass("d-none");
                    }

                    updatePaginationButtons(parseInt(currentPageIndex));

                },
                error: function () {
                    alert('發生錯誤，請稍後再試');
                }
            });
        }

        function init() {
            if (sessionStorage.getItem('CustomerOrderStatus') != null & sessionStorage.getItem('todayDate') != null) {
                customerOrderStatus = sessionStorage.getItem('CustomerOrderStatus');
                todayDate = sessionStorage.getItem('todayDate');

                filterCustomerOrderStatus(1, customerOrderStatus, todayDate);



            }
        }


        $(function () {
            init();
        });

        $('.clear-btn').on("click", function () {
            sessionStorage.removeItem('CustomerOrderStatus');
            sessionStorage.removeItem('todayDate');

        })

        //DEMO
        $(document).ready(function () {
            $('#searchString').dblclick(function () {
                $('#searchString').val('3');
            });

            $('#startDate').dblclick(function () {
                $('#startDate').val('2024-03-09');
            })
            $('#endDate').dblclick(function () {
                $('#endDate').val('2024-05-31');
            })
        });


    </script>

}
