@using System.Text
@{
    ViewData["Title"] = "OrderDetails";
}

@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
@section MyStyle {
    <link rel="stylesheet" href="~/css/Manager/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Manager/ManagerOrders.css" asp-append-version="true" />
    <title>VITA-Order Details</title>
    <link rel="icon" type="image/x-icon" href="/image/logo/logo_30x30_dark.png">
}


@section Content{
    @foreach(var item in ViewBag.OrderDetails)
    {
    <div class=" row justify-content-center ">
        <div class="col-11">
            <h3 class="pt-4 fw-bold">訂單詳細資訊</h3>
            <hr>
            <div class="d-lg-flex">
                <p class="fw-bold">訂單編號：</p>
                    <p>@item.OrderInfo.OrderId</p>
            </div>
            <div class="d-lg-flex pt-2">
                <p class="fw-bold">訂單狀態：</p>
                <p>
                        @((int)item.OrderInfo.CustomerOrderStatus switch
                        {
                            0 => "待接單",
                            1 => "製作中",
                            2 => (item.OrderInfo.OrderDeliveryVia) ? "配送中" : "等待自取",
                            3 => "已完成",
                            4 => "已退單",
                            5 => "已取消",
                        })
                </p>
            </div>
            <div class="d-lg-flex pt-2">
                <p class="fw-bold">訂單種類：</p>
                    <p>@((item.OrderInfo.OrderDeliveryVia) ? "外送" : "自取")</p>
            </div>
            <div class="d-lg-flex pt-2">
                <p class="fw-bold">取貨人：</p>
                <p>@item.OrderInfo.CustomerName</p>
            </div>
            <div class="d-lg-flex pt-2">
                <p class="fw-bold">預計取餐時間：</p>
                <p>@item.OrderInfo.PredictedArrivalTime.ToString("yyyy/MM/dd HH:mm")</p>
            </div>
            <div class="d-lg-flex pt-2">
                <p class="fw-bold">外送地址：</p>
                <p>@((@item.OrderInfo.OrderAddressCity != "") ? $"{item.OrderInfo.OrderAddressCity}{item.OrderInfo.OrderAddressDistrict}{item.OrderInfo.OrderAddressDetails}" : "無")</p>
            </div>
                <div class=" d-lg-flex pt-2">
                <p class="fw-bold">訂購內容/數量：</p>
                    @{
                        var sb = new StringBuilder();
                        foreach (var product in item.Products)
                        {
                            sb.Append($"{product.ProductName} x {product.Quantity}、");
                        }
                        @Html.Raw(sb.ToString().TrimEnd('、'))
                    }
            </div>
            <div class="d-lg-flex pt-2">
                <p class="fw-bold">給店家留言：</p>
                <p>@((item.OrderInfo.OrderStoreMemo != "") ? @item.OrderInfo.OrderStoreMemo : "無")</p>
            </div>
            <div class="d-lg-flex pt-2">
                <p class="fw-bold">開立發票方式：</p>
                <p>
                    @((int)item.OrderInfo.OrderUniformInvoiceVia switch
                    {
                        0 => "不開立發票",
                        1 => "紙本發票",
                        2 => "手機載具",
                    })
                </p>
            </div>
            <div class="d-lg-flex pt-2">
                <p class="fw-bold">付款方式：</p>
                <p>@((item.OrderInfo.OrderPayment) ? "linepay" : "現金")</p>
            </div>
            <div class="d-lg-flex pt-2">
                <p class="fw-bold">訂單金額：</p>
                <p>$@item.TotalPrice.ToString("0")</p>
            </div>
            <hr>


        </div>
    </div>
    }

}



