@{
    ViewData["Title"] = "收藏店家";
    int storeID = 8;
    // var openHours = ViewBag.openHours;
}

<div class="container-fluid mt-3">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb ms-5">
            <li class="breadcrumb-item active text-dark" >會員中心</li>
        <li class="breadcrumb-item active text-info" aria-current="page">收藏店家</li>
        </ol>
    </nav>
    <div class="container container-lg ">
        <h4 class="text-dark">收藏店家</h4>
        <!-- 收藏的店家 -->
         @foreach (var store in Model)
        {
            double starRange = 0.0; 
            double avgOfRating = 0.0;
            string countOfRating = "尚無";
            string[] openHourArray = new string[7];
            string storeImage = String.IsNullOrEmpty(store.StoreImage) ? "image/logo/logo_30x30_dark.png" : store.StoreImage;
            @foreach (var comment in ViewBag.queryComments)
            {
                if (comment.StoreId == store.StoreId)
                {

                    avgOfRating = Math.Round(comment.avgOfRating,1);
                    starRange = (avgOfRating / 5 * 100);
                    countOfRating = comment.countOfRating;
                }
            }
            @foreach (var oh in ViewBag.openHours)
            {
                if (oh.StoreId == store.StoreId)
                {
                    string openTime = $"{oh.StoreOpeningTime}-{oh.StoreClosingTime}";
                    string closeText = "休息";
                    switch (oh.MyWeekDay)
                    {
                        case "Sun":
                            openHourArray[0] = oh.StoreOpenOrNot ? openTime : closeText;
                            break;
                        case "Mon":
                            openHourArray[1] = oh.StoreOpenOrNot ? openTime : closeText;
                            break;
                        case "Tue":
                            openHourArray[2] = oh.StoreOpenOrNot ? openTime : closeText;
                            break;
                        case "Wed":
                            openHourArray[3] = oh.StoreOpenOrNot ? openTime : closeText;
                            break;
                        case "Thu":
                            openHourArray[4] = oh.StoreOpenOrNot ? openTime : closeText;
                            break;
                        case "Fri":
                            openHourArray[5] = oh.StoreOpenOrNot ? openTime : closeText;
                            break;
                        case "Sat":
                            openHourArray[6] = oh.StoreOpenOrNot ? openTime : closeText;
                            break;
                        default:
                            break;

                    }
                }
            }
            <div class=" container container-lg border-bottom  border-dark w-75 mb-3 pb-3 @("FavoriteId"+store.FavoriteId)">
                <div class="row mt-3">
                    <div class="col-12 col-lg-5 mb-3">
                        <img class="card-img-top h-75" src="~/@storeImage" alt="@(store.StoreName+"_picture")">

                    </div>
                    <!-- 文字內容 -->
                    <div class="col-12 col-lg-7">
                        <div class="d-flex flex-row justify-content-between align-self-center ">
                            <h5 class=" my-auto fa-solid ">@store.StoreName</h5>
                            <a href="/FavoriteStores/Cancel/?id=@store.FavoriteId" class=" d-block align-self-center text-decoration-none " onClick="return popBtn('@store.StoreName')">
                                <i class="fa-solid fa-heart fs-2 text-info d-block"></i>
                            </a>
                        </div>
                        <div class="d-flex flex-row">

                            <div class="col-4 home-store-star my-0"
                                 style="background: linear-gradient(to right ,  #ffd700 0% @(starRange.ToString()+"%"), #F1F0CC @(starRange.ToString()+"%") 100%)"></div>
                            <p class="fs-6 pt-1">@avgOfRating<a class="bg-primary text-dark fs-6 link-info ms-1" href="">(@(countOfRating + "評論"))</a></p>
                            <p class="fs-6 pt-1"></p>

                        </div>
                        <p class="fs-6">連絡電話:@store.StorePhoneNumber</p>
                        <p class="fs-6">地址:@(store.StoreAddress)</p>

                        <dl>
                            <dt>營業時間:</dt>
                            <div class="p-3">


                                <dd>星期日:@openHourArray[0]</dd>
                                <dd>星期一:@openHourArray[1]</dd>
                                <dd>星期二:@openHourArray[2]</dd>
                                <dd>星期三:@openHourArray[3]</dd>
                                <dd>星期四:@openHourArray[4]</dd>
                                <dd>星期五:@openHourArray[5]</dd>
                                <dd>星期六:@openHourArray[6]</dd>
                            </div>
                        </dl>
                        <a class="bg-primary fs-6 link-info" href="./MyData/@store.StoreId">馬上點餐 ></a>
                    </div>
                </div>
            </div>
        }

 
     <div class=" container container-lg border-bottom  border-dark w-75 mb-3 pb-3 @("storeID"+storeID)">
            <div class="row mt-3">
            <div class="col-12 col-lg-5 mb-3">
            <img class="card-img-top" src="~/image/StorePictures/Product_14.webp" alt="店家照片">

            </div>
            <!-- 文字內容 -->
            <div class="col-12 col-lg-7">
            <div class="d-flex flex-row justify-content-between align-self-center ">
                        <h5 class=" my-auto fa-solid ">優輕食</h5>
                        <a href="#" class=" d-block align-self-center text-decoration-none " onClick="return popBtn('storeStoreName');" id="favoriteStore">
                <i class="fa-regular fa-heart fs-2 text-info "></i>
                <i class="fa-solid fa-heart fs-2 text-info d-block"></i>
                </a>
            </div>
            <div class="d-flex flex-row">

                <div class="col-4 store-star my-0"
                style="background: linear-gradient(to right ,  #ffd700 0 50%, #F1F0CC 50% 100%)"></div>
                <p class="fs-6 pt-1">2.5 <a class="bg-primary text-dark fs-6 link-info" href="">(100評論)</a></p>
                <p class="fs-6 pt-1"></p>

            </div>
            <p class="fs-6">連絡電話:0455697946</p>
            <p class="fs-6">地址:台中市大屯區大墩十二街153號</p>

            <dl>
                <dt>營業時間:</dt>
                <div class="p-3">
                <dd>星期日:休息</dd>
                <dd>星期一:1500-2000</dd>
                <dd>星期二:1500-2000</dd>
                <dd>星期三:1500-2000</dd>
                <dd>星期四:1500-2000</dd>
                <dd>星期五:1500-2000</dd>
                <dd>星期六:休息</dd>
                </div>
            </dl>
                    <a class="bg-primary fs-6 link-info" href="./MyData">馬上點餐 ></a>
            </div>
        </div>
    </div>
     <div class=" container container-lg border-bottom  border-dark w-75 mb-3 pb-3">
            <div class="row mt-3">
            <div class="col-12 col-lg-5 mb-3">
            <img class="card-img-top " src="../img/home_banner.png" alt="店家照片">

            </div>
            <!-- 文字內容 -->
            <div class="col-12 col-lg-7">
                <div class="d-flex flex-row justify-content-between align-self-center ">
                    <h5 class=" my-auto fa-solid">優輕食</h5>
                    <a href="#" class=" d-block align-self-center text-decoration-none" id="favoriteStore">
                    <i class="fa-regular fa-heart fs-2 text-info "></i>
                    <i class="fa-solid fa-heart fs-2 text-info d-block"></i>
                    </a>
                </div>
                <div class="d-flex flex-row">

                    <div class="col-4 store-star my-0"
                    style="background: linear-gradient(to right ,  #ffd700 0 50%, #F1F0CC 50% 100%)"></div>
                    <p class="fs-6 pt-1">2.5 <a class="bg-primary text-dark fs-6 link-info" href="">(100評論)</a></p>
                    <p class="fs-6 pt-1"></p>

                </div>
                <p class="fs-6">連絡電話:0455697946</p>
                <p class="fs-6">地址:台中市大屯區大墩十二街153號</p>

                <dl>
                <dt>營業時間:</dt>
                <div class="p-3">
                    <dd>星期日:休息</dd>
                    <dd>星期一:1500-2000</dd>
                    <dd>星期二:1500-2000</dd>
                    <dd>星期三:1500-2000</dd>
                    <dd>星期四:1500-2000</dd>
                    <dd>星期五:1500-2000</dd>
                    <dd>星期六:休息</dd>
                </div>
                </dl>
                <a class="bg-primary fs-6 link-info" href="#">馬上點餐 ></a>
            </div>
        </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        const cancelFavorite = FavoriteId => {
            event.preventDefault();
            console.log(FavoriteId);
            $(`.FavoriteId${FavoriteId}`).remove();
        }
        const popBtn = (storeName) => {
            // $("#favoriteStore")[0].scrollIntoView({
            //     behavior: "smooth", // or "auto" or "instant"
            //     block: "end" // or "end"
            // });
            return confirm(`確定取消 ${storeName} 店家收藏?`);
        }

    </script>
}