@{
	var paymentInfo = ViewBag.PaymentInfo;

}


<section class="container-lg">

@* 	<form action="/OrderDetail/ConfirmOrder" method="post"> *@
		<div class="order mt-3 row mb-3">
			<div class="order-step mx-auto col-md-8 d-flex justify-content-around mb-4">
				<div class="step active col-2 text-center fw-bold ">
					<div class="circle d-inline-block mb-1 rounded-circle">1</div>
					<div class="fs-6 fw-bold text-break">選擇付款明細</div>
				</div>
				<div class="step active col-2 text-center fw-bold ">
					<div class="circle d-inline-block mb-1 rounded-circle">2</div>
					<div class="fs-6 fw-bold text-break">確認結帳</div>
				</div>
			</div>
			<div class="order-form row bg-white rounded-2 col-9 mx-auto pt-4 px-5 mb-3">

				<div class="row d-flex justify-content-center py-4">
					<div class="col-md-8">
						<div class="fs-5">
							<dl class="row">
								<dt class="col-sm-4 fw-bold">訂購門市</dt>
								<dd class="col-sm-8" id="store-name">@paymentInfo[0].StoreName</dd>
								<hr>
								<dt class="col-sm-4 fw-bold">取餐人</dt>
								<dd class="col-sm-8">@paymentInfo[0].CustomerName</dd>
								<hr>
								<dt class="col-sm-4 fw-bold">聯絡電話</dt>
							<dd class="col-sm-8">@ViewBag.phoneNum</dd>
								<hr>
								<dt class="col-sm-4 fw-bold">取貨方式</dt>
								<dd class="col-sm-8">@ViewBag.PickupMethod</dd>
								<hr>
								<dt class="col-sm-4 fw-bold">取餐時間</dt>
								<dd class="col-sm-8">@ViewBag.OrderTime</dd>
								<hr>
								@if (ViewBag.PickupMethod == "外送")
								{
									<dt class="col-sm-4 fw-bold">取貨地址</dt>
									<dd class="col-sm-8">@ViewBag.Address</dd>
									<hr>
								}
								<dt class="col-sm-4 fw-bold">付款方式</dt>
							<dd class="col-sm-8" id="PayMethod">@ViewBag.PayMethod</dd>
								<hr>
								<dt class="col-sm-4 fw-bold">開立發票方式</dt>
								<dd class="col-sm-8">
									@ViewBag.InvoiceMethod @if (ViewBag.Carrier != null)
									{
										@ViewBag.Carrier
									}
								</dd>
								<hr>
								<dt class="col-sm-4 fw-bold" >訂購商品明細</dt>
							<dd class="col-sm-8" >
									<table class="table">
										<thead>
											<tr>
												<th class="py-0 ">商品名稱</th>
												<th class="py-0">數量</th>
												<th class="py-0">總價</th>
											</tr>
										</thead>
									<tbody id="product-detail">
											@foreach (var item in paymentInfo)
											{
												<tr>
													<td class="product-name">@item.ProductName</td>
													<td>@item.ShoppingCartQuantity</td>
													<td>$@((int)item.ProductUnitPrice * item.ShoppingCartQuantity)</td>
												</tr>
											}
										</tbody>
									</table>
								</dd>
								<hr>
								<dt class="col-sm-4 fw-bold">應付金額</dt>
								<dd class="col-sm-8">$@ViewBag.TotalAmount</dd>
								<hr>
								<dt class="col-sm-4 fw-bold">備註</dt>
								<dd class="col-sm-8">@ViewBag.OrderNote</dd>
								<hr>
							</dl>
						</div>

					</div>
				</div>
			</div>


			<div class="row mb-3 mx-auto w-75">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button id="btn-prev" class="btn-cart btn btn-outline-light fs-5 fw-bold" type="button">
						<a href="javascript:void(0)" class="text-decoration-none text-black">上一步</a>
					</button>
					<button id="confirm-order" class="btn-next btn btn-dark fs-5 fw-bold" type="button">
						<a href="javascript:void(0)"
						   class="text-decoration-none text-white">送出訂單</a>
					</button>
				</div>
			</div>
@* 
	</form> *@

</section>

@section Scripts {
	<script src="~/js/signalr/dist/browser/signalr.js"></script>
	<script>
		$(document).ready(function () {
			$('#btn-prev').click(function () {
				window.location.href = '/CheckedPayment/Payment';
			});
		});
		var connection = new signalR.HubConnectionBuilder().withUrl("/ChatHub").build();
		connection.start(console.log("連線成功"))
			.catch(err => console.error(err.toString()));
		function requestPayment(packages) {
			let baseLoginPayUrl = '/api/LinePay/';
			const payment = {
				amount: parseInt(@ViewBag.TotalAmount),
				currency: "TWD",
				orderId: Date.now().toString(), //使用 Timestamp 當作 orderId
				packages,
				RedirectUrls: {
					ConfirmUrl: "http://localhost:5010/CurrentOrder",
					CancelUrl: "http://localhost:5010/Mydata/chat",
				},
				options:{
					payment: {
						payType: "PREAPPROVED"
					}
				}
			};

			console.log(payment);
			// 送出 交易申請至商家 server
			$.post({
				url: baseLoginPayUrl + "Create",
				dataType: "json",
				contentType: "application/json",
				data: JSON.stringify(payment),
				success: (res) => {
					console.log(res);
					//todo 後續linepay流程
					if (res.returnCode === "0000") {
						initOrder();
						setTimeout(x => window.location = res.info.paymentUrl.web, 500);
;						
					}
					console.log(res.info.paymentUrl.web);
					// window.location = res.info.paymentUrl.web;
				},
				error: (err) => {
					console.log(err);
				}
			})
		}
		 function initOrder(){

			 $.ajax({
				url: '/OrderDetail/ConfirmOrder',
				type: 'POST',
				success: function (data) {
					console.log(data);
					if (data.success) {
						alert('訂單已成功送出');


						connection.invoke("MakeOrders").catch(function (err) {
							return console.error(err.toString());
						});


						// window.location.href = '/CurrentOrder';
					} else {
						alert('訂單送出失敗，請重新確認');
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					alert('訂單送出失敗，請重新確認');
				}
			});
		}
		$(document).ready(function () {
			$('#confirm-order').click(function () {
				// TODO改成LINE PAY
				if ($("#PayMethod").text() === "LINEPAY") {
					const packages = [{

						id: (@paymentInfo[0].StoreId).toString(),
						amount: parseInt(@ViewBag.TotalAmount),
						//todo 中文亂碼
						name: $("#store-name").text(),
						// name: '商店1',
						products: [
							{
								name: "襪子",
								imageUrl: "/image/Store/Product_1.png",
								quantity: 1,
								price: 100,
							},
						]
					}];

					console.log("進行line pay");
					console.log("店家名稱");
					console.log('@(paymentInfo[0].StoreName)');
					console.log($("#store-name").text());
					console.log("店家ID");
					console.log(@paymentInfo[0].StoreId);
					console.log("總金額");
					console.log(@ViewBag.TotalAmount);
					@{int i = 0;}
						console.log("商品名稱稱稱");
					console.log($("#product-detail .product-name"));

					for (let i = 0; i < @paymentInfo.Count; i++) {
						console.log("@(paymentInfo[i].ProductName.ToString())");

						console.log($("#product-detail .product-name")[i].innerText);
						// const item = @(paymentInfo)[i];
						console.log("變數iiiiiiiiiiiiiii");
						console.log($($("#product-detail>tr")[i]).find("td"));
						const name = $($("#product-detail>tr")[i]).find("td")[0].innerText;
						// const imageUrl = $($("#product-detail>tr")[i]).find("td")[1].innerText;
						const quantity = parseInt($($("#product-detail>tr")[i]).find("td")[1].innerText);
						const price = parseInt($($("#product-detail>tr")[i]).find("td")[2].innerText.replace("$", "")) / quantity;
						console.log(name, quantity, price)
								//todo變數i有問題
						console.log(parseInt("@i"));
						//todo 中文亂碼
						console.log(parseInt("@(paymentInfo[i].ProductUnitPrice)"));
						const product = {
							name ,
							imageUrl: "@(paymentInfo[i].ProductImage)",
							quantity,
							price
						}
						// packages[0].products[i].name = $("#product-detail .product-name")[i].innerText; 
						// packages[0].products[i].imageUrl = "@(paymentInfo[i].ProductImage)";
						// packages[0].products[i].quantity = parseInt("@(paymentInfo[i].ShoppingCartQuantity)");
						// packages[0].products[i].price = parseInt("@(paymentInfo[i].ProductUnitPrice)");
						packages[0].products[i] = product;
						@(i = i + 1)
						console.log("進行line payyyyyy");

					}
					console.log(packages); 
					// initOrder();
					requestPayment(packages);
					return
				}
				$.ajax({
					url: '/OrderDetail/ConfirmOrder',
					type: 'POST',
					success: function (data) {
						console.log(data);
						if (data.success) {
							alert('訂單已成功送出');
							
							
							connection.invoke("MakeOrders").catch(function (err) {
								return console.error(err.toString());
							});
							
							

							window.location.href = '/CurrentOrder';
						} else {
							alert('訂單送出失敗，請重新確認');
						}
					},
					error: function (xhr, ajaxOptions, thrownError) {
						alert('訂單送出失敗，請重新確認');
					}
				});
			});
		});
	</script>
}