@{
	var paymentInfo = ViewBag.PaymentInfo;

}


<section class="container-lg">

@* 	<form action="/OrderDetail/ConfirmOrder" method="post"> *@
		<div class="order mt-3 row mb-3">
			<div class="order-step mx-auto col-md-8 d-flex justify-content-around mb-4">
				<div class="step active col-2 text-center fw-bold ">
					<div class="circle d-inline-block mb-1 rounded-circle">1</div>
					<div class="fs-6 fw-bold text-break">選擇付款明細</div>
				</div>
				<div class="step active col-2 text-center fw-bold ">
					<div class="circle d-inline-block mb-1 rounded-circle">2</div>
					<div class="fs-6 fw-bold text-break">確認結帳</div>
				</div>
			</div>
			<div class="order-form row bg-white rounded-2 col-9 mx-auto pt-4 px-5 mb-3">

				<div class="row d-flex justify-content-center py-4">
					<div class="col-md-8">
						<div class="fs-5">
							<dl class="row">
								<dt class="col-sm-4 fw-bold">訂購門市</dt>
								<dd class="col-sm-8">@paymentInfo[0].StoreName</dd>
								<hr>
								<dt class="col-sm-4 fw-bold">取餐人</dt>
								<dd class="col-sm-8">@paymentInfo[0].CustomerName</dd>
								<hr>
								<dt class="col-sm-4 fw-bold">聯絡電話</dt>
							<dd class="col-sm-8" data-phone-num="@ViewBag.phoneNum">@ViewBag.phoneNum</dd>
								<hr>
								<dt class="col-sm-4 fw-bold">取貨方式</dt>
								<dd class="col-sm-8">@ViewBag.PickupMethod</dd>
								<hr>
								<dt class="col-sm-4 fw-bold">取餐時間</dt>
								<dd class="col-sm-8">@ViewBag.OrderTime</dd>
								<hr>
								@if (ViewBag.PickupMethod == "外送")
								{
									<dt class="col-sm-4 fw-bold">取貨地址</dt>
									<dd class="col-sm-8">@ViewBag.Address</dd>
									<hr>
								}
								<dt class="col-sm-4 fw-bold">付款方式</dt>
								<dd class="col-sm-8">@ViewBag.PayMethod</dd>
								<hr>
								<dt class="col-sm-4 fw-bold">開立發票方式</dt>
								<dd class="col-sm-8">
									@ViewBag.InvoiceMethod @if (ViewBag.Carrier != null)
									{
										@ViewBag.Carrier
									}
								</dd>
								<hr>
								<dt class="col-sm-4 fw-bold">訂購商品明細</dt>
								<dd class="col-sm-8">
									<table class="table">
										<thead>
											<tr>
												<th class="py-0">商品名稱</th>
												<th class="py-0">數量</th>
												<th class="py-0">總價</th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in paymentInfo)
											{
												<tr>
													<td>@item.ProductName</td>
													<td>@item.ShoppingCartQuantity</td>
													<td>@((int)item.ProductUnitPrice * item.ShoppingCartQuantity)元</td>
												</tr>
											}
										</tbody>
									</table>
								</dd>
								<hr>
								<dt class="col-sm-4 fw-bold">應付金額</dt>
								<dd class="col-sm-8">$@ViewBag.TotalAmount</dd>
								<hr>
								<dt class="col-sm-4 fw-bold">備註</dt>
								<dd class="col-sm-8">@ViewBag.OrderNote</dd>
								<hr>
							</dl>
						</div>

					</div>
				</div>
			</div>


			<div class="row mb-3 mx-auto w-75">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button id="btn-prev" class="btn-cart btn btn-outline-light fs-5 fw-bold" type="button">
						<a href="javascript:void(0)" class="text-decoration-none text-black">上一步</a>
					</button>
					<button id="confirm-order" class="btn-next btn btn-dark fs-5 fw-bold" type="button">
						<a href="javascript:void(0)"
						   class="text-decoration-none text-white">送出訂單</a>
					</button>
				</div>
			</div>
@* 
	</form> *@

</section>

@section Scripts {
	<script>
		$(document).ready(function () {
			$('#btn-prev').click(function () {
				window.location.href = '/CheckedPayment/Payment';
			});
		});

		$(document).ready(function () {
			$('#confirm-order').click(function () {
				$.ajax({
					url: '/OrderDetail/ConfirmOrder',
					type: 'POST',
					success: function (data) {
						console.log(data);
						if (data.success) {
							alert('訂單已成功送出');
							window.location.href = '/CurrentOrder';
						} else {
							alert('訂單送出失敗，請重新確認');
						}
					},
					error: function (xhr, ajaxOptions, thrownError) {
						alert('訂單送出失敗，請重新確認');
					}
				});
			});
		});
	</script>
}