@using msit59_vita.Models.ViewModels
@{
	var notifyList = ViewBag.NotifyList as List<NotifyViewModel> ?? new List<NotifyViewModel>();
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>VITA | @ViewData["Title"]</title>
	<link rel="shortcut icon" href="~/image/logo/logo_30x30_dark.png" type="image/x-icon">
	<link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/toastr.js/toastr.css" asp-append-version="true" />
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/toastr.js/toastr.min.js"></script>
	

</head>

<body>
	<header class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top shadow">
		<div class="container-lg">
			<h1 class="m-0">
				<a href="/Home" class="replace-text-nav">
					VITA健康餐盒訂餐平台
				</a>
			</h1>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav ms-auto">
					@* 會員中心 *@
					@if (User.Identity?.IsAuthenticated ?? false)
					{
						<li class="nav-item text-light mt-3 mt-lg-0">
							<span class="text-primary me-3 nav-welcome ps-2">Welcome Back &nbsp; @User.Claims.FirstOrDefault(c => c.Type == "VitaUserName")?.Value</span>
							<span style="visibility:hidden;" data-customerid="@User.Claims.FirstOrDefault(c => c.Type == "VitaCustomerId")?.Value" id="StoreCustomerId"></span>
						</li>
						@* 分隔線 *@
						<li class="d-lg-none border-light border-top opacity-25 my-3"></li>
						<li><a class="d-lg-none d-block p-2 text-decoration-none" href="/MyData">會員資料</a></li>
						<li><a class="d-lg-none d-block p-2 text-decoration-none" href="/CurrentOrder">我的訂單</a></li>
						<li><a class="d-lg-none d-block p-2 text-decoration-none" href="/FavoriteStores">收藏店家</a></li>
						<li><a class="d-lg-none d-block p-2 text-decoration-none" href="/MyComment">我的評論</a></li>
						<li><a class="d-lg-none d-block p-2 text-decoration-none" href="#" onclick="logout()">登出</a></li>
						<li class="nav-item dropdown d-none d-lg-block z-index-1">
							<button type="button" class="dropdown-toggle btn btn-outline-primary rounded-pill px-4 py-2 fw-bold" href="#"
									id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								會員中心
							</button>
							<ul class="dropdown-menu dropdown-menu-end text-center rounded-3 bg-primary border border-dark border-5 p-3"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item py-2" href="/MyData">會員資料</a></li>
								<li><a class="dropdown-item py-2" href="/CurrentOrder">我的訂單</a></li>
								<li><a class="dropdown-item py-2" href="/FavoriteStores">收藏店家</a></li>
								<li><a class="dropdown-item py-2" href="/MyComment">我的評論</a></li>
								<li><a class="dropdown-item py-2" href="javascript:void(0)" onclick="logout()">登出</a></li>
							</ul>
						</li>
					}

					@* 登入註冊 *@
					@if (!(User.Identity?.IsAuthenticated ?? false))
					{
						<li class="my-2 my-lg-0">
							<a href="/Account/Login" class="d-none d-lg-block rounded-pill btn btn-outline-primary me-3 px-4 py-2">登入</a>
							<a href="/Account/Login" class="d-lg-none p-2 text-decoration-none link-primary">登入</a>
						</li>
						<li class="my-2 my-lg-0">
							<a href="/Account/Register" class="d-none d-lg-block rounded-pill btn btn-primary px-4 py-2 me-4" id="btnRegister">註冊</a>
							<a href="/Account/Register" class="d-lg-none p-2 text-decoration-none link-primary">註冊</a>
						</li>
					}

					@* 分隔線 *@
					<li class="d-lg-none border-light border-top opacity-25 my-3"></li>


					<!-- 購物車 -->


					<li>
						<a data-bs-toggle="offcanvas" href="#offcanvasCart" role="button" aria-controls="offcanvasCart"
						   class="position-relative ms-4 d-none d-lg-block show-cart-link">
							<i class="fa-solid fa-cart-shopping fs-3 nav-icon"></i>
							<span class="d-block rounded-circle position-absolute translate-middle top-0 start-100 bg-info text-center text-light fw-bold d-none"
								  id="cartNum"></span>
						</a>

						<a data-bs-toggle="offcanvas" href="#offcanvasCart" role="button" aria-controls="offcanvasCart" class="d-block d-lg-none text-decoration-none p-2 show-cart-link">購物車</a>

					</li>
					<!-- 購物車 end -->
					@* 通知 *@
					@if (User.Identity?.IsAuthenticated ?? false)
					{
						<li>
							<a data-bs-toggle="offcanvas" href="#offcanvasNotify" role="button" aria-controls="offcanvasNotify" class="d-block position-relative ms-3 d-none d-lg-block">
								<i class="fa-regular fa-bell fs-3 nav-icon"></i>
								<span class="d-none rounded-circle position-absolute translate-middle top-0 start-100 bg-info text-center text-light fw-bold" id="notifyNum"></span>
							</a>
							<a data-bs-toggle="offcanvas" href="#offcanvasNotifyMobile" role="button" aria-controls="offcanvasNotifyMobile" class="d-block d-lg-none text-decoration-none p-2">重要通知</a>
						</li>
					}
				</ul>

			</div>
		</div>
	</header>

	@RenderBody()

	<footer class="bg-dark pt-5">
		<div class="container-lg row mx-auto">
			<div class="d-none d-md-block col-md-4 mb-3 mb-md-0">
				<p class="footer-slogan text-primary">
					集結200家健康餐盒，你的健康，我們守護！<br>
					首選VITA，百搭你的味蕾。
				</p>
			</div>
			<div class="col-6 col-md-4">
				<p class="text-primary fw-bold fs-5">聯絡我們</p>
				<a href="tel:+0800123567"><i class="fa-solid fa-phone me-2"></i>0800-123-567</a> <br>
				<a href="mailto:info@vita.com"><i class="fa-regular fa-envelope me-2"></i>info@vita.com</a>
				<div class="mt-4">
					<a href="#" class="footer-link d-inline-block link-primary">
						<i class="fa-brands fa-facebook fs-3"></i>
					</a>
					<a href="#" class="footer-link link-primary">
						<i class="fa-brands fa-instagram fs-3 ms-3"></i>
					</a>
				</div>
			</div>

			<div class="col-6 col-md-4">
				<a href="/JoinUs" class="d-block text-decoration-none link-primary fs-5 fw-bold footer-link">加入我們</a>
				<a href="/Faq" class="d-block text-decoration-none link-primary fs-5 fw-bold mt-3 footer-link">常見問題</a>
			</div>
			<div class="col-12 border-top mt-5 border-primary">
				<p class="text-primary text-center my-4">© 2024 資展專題報告</p>
			</div>
		</div>
	</footer>

	<!-- notify pc start -->
	<div class="offcanvas offcanvas-end bg-light" tabindex="-1" id="offcanvasNotify" aria-labelledby="offcanvasNotifyLabel">
		<div class="offcanvas-header justify-content-end">
			<button type="button" class="btn-close text-reset text-dark fs-3 fw-bold" data-bs-dismiss="offcanvas"
					aria-label="Close"></button>
		</div>
		<div class="offcanvas-body overflow-auto px-4">
			<ul class="list-unstyled notify-list">
				@await Html.PartialAsync("_NotifyPartial", notifyList)
			</ul>
		</div>
	</div>
	<!-- end -->
	<!-- notify mobile start -->
	<div class="offcanvas offcanvas-bottom bg-light h-75" tabindex="-1" id="offcanvasNotifyMobile"
		 aria-labelledby="offcanvasNotifyMobileLabel">
		<div class="offcanvas-header justify-content-end">
			<button type="button" class="btn-close text-reset text-dark fs-3 fw-bold" data-bs-dismiss="offcanvas"
					aria-label="Close"></button>
		</div>
		<div class="offcanvas-body overflow-auto px-4">
			<ul class="list-unstyled notify-list">
				@await Html.PartialAsync("_NotifyPartial", notifyList)
			</ul>
		</div>
	</div>
	<!-- notify mobile end -->

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/cartjs.js" asp-append-version="true"></script>
	<script src="~/js/signalr/dist/browser/signalr.js"></script>
	<script src="~/js/notify.js" asp-append-version="true"></script>

	<script>
		function logout() {
			$.ajax({
				type: "post",
				url: "@Url.Action("Logout", "Account")",
				success: function (data) {
					if (data == "ok") {
						window.location.href = "@Url.Action("Login", "Account")";
					} else {
						alert(data);
					}
				},
				error: function () {
					alert("發生未預期的錯誤,請稍後再試。");
				}
			})
		}

	</script>
	@await RenderSectionAsync("Scripts", required: false)

	<!-- 購物車頁面開始 -->

		<div class="offcanvas offcanvas-end bg-light" tabindex="-1" id="offcanvasCart" aria-labelledby="offcanvasCartLabel">
			<div class="offcanvas-header justify-content-end">
				<button type="button" class="btn-close text-reset text-dark fs-3 fw-bold" data-bs-dismiss="offcanvas"
						aria-label="Close"></button>
			</div>
			<div class="offcanvas-body cart-list d-flex flex-column justify-content-between">
				<div class="cart-container overflow-auto">
				</div>


				<div class="total-price pt-3">
					<div class="fs-5 fw-bold text-center text-success mb-3">總金額：<span class="totalPriceNum"></span></div>

					<div class="d-grid col-10 mx-auto">
						<button id="checkoutBtn" class="btn btn-success text-white fs-5 fw-bold badge rounded-pill" type="submit">立即結帳</button>
					</div>
				</div>
			</div>
		</div>
	<!-- 購物車頁面結束 -->
	<!-- 顯示請登入開始 -->

	<form method="get" action="/Account/Login">
		<!-- 登入模態對話框 -->
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header border-0">
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body text-center fs-3 fw-bold">
						<i class="fa-solid fa-circle-exclamation text-danger fs-2"></i>
						<p id="loginMessage"></p>
						<!-- 在這裡添加登入表單或其他內容 -->
					</div>
					<div class="modal-footer border-0 d-flex justify-content-center">
						<button type="submit" class="btn btn-info text-white col-4">登入</button>
						<button type="button" class="btn btn-secondary col-4" data-bs-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>

	</form>
	<!-- 顯示請登入結束 -->
</body>

</html>