@{
    ViewData["Title"] = "會員資料";
    string defaultValue = "未填";
    string CustomerName = Model.CustomerName;
    string CustomerEmail = Model.CustomerEmail;
    string CustomerNickName = Model.CustomerNickName ?? defaultValue;
    string CustomerEinvoiceNumber = Model.CustomerEinvoiceNumber?.Trim() ?? defaultValue;
    string CustomerCellPhone = Model.CustomerCellPhone?.Trim() ?? defaultValue;
    string CustomerLocalPhone = Model.CustomerLocalPhone?.Trim() ?? defaultValue;
    string CustomerAddressCity = Model.CustomerAddressCity ?? defaultValue;
    string CustomerAddressDistrict = Model.CustomerAddressDistrict ?? defaultValue;
    string CustomerAddressDetails = Model.CustomerAddressDetails ?? defaultValue;

}
<div class="container-fluid mt-3 ">

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="ms-5 breadcrumb">
            <li class="breadcrumb-item active text-dark">會員中心</li>
            <li class="breadcrumb-item active text-info" aria-current="page">會員資料</li>
        </ol>
    </nav>
    <div class="container container-lg">
        <h4 class="text-dark">會員資料</h4>

        <div class="container container-lg w-75 ">
            <form class="was-validated" action="/MyData/Edit/@(Model.CustomerId)" method="post">
                <div class="mb-3">
                    <label for="CustomerName" class="form-label is-required">姓名</label>
                    <div class="row CustomerName-span">
                        <div class="col-10 border-bottom border-dark ">
                            <span class="">@CustomerName</span>
                        </div>
                        <div class="col-2 border-bottom border-dark">
                            <button class=" bg-primary float-end  btn py-0 " type="button" onclick="switchTag('CustomerName')"><i
                                    class="fa-regular fa-pen-to-square"></i></button>
                        </div>
                    </div>
                    <!-- 替換 -->
                    <div class="row visually-hidden CustomerName-input"   >
                        <input type="text" class="form-control bg-primary py-0 " >
                        <div class="invalid-feedback">請輸入姓名</div>
                    </div>
                    <input name="CustomerName" type="text" class="form-control bg-primary py-0 visually-hidden" >

                </div>
                <div class="mb-3">
                    <label for="CustomerNickName" class="form-label">暱稱</label>

                    <div class="row CustomerNickName-span ">
                        <div class="col-10 border-bottom border-dark ">
                            <span>@CustomerNickName</span>
                        </div>
                        <div class="col-2 border-bottom border-dark">
                            <button class=" bg-primary float-end  btn py-0 " type="button" onclick="switchTag('CustomerNickName')">
                                <i class="fa-regular fa-pen-to-square"></i></button>
                        </div>
                    </div>
                    <!-- 替換 -->
                    <div class="row visually-hidden CustomerNickName-input"   >
                        <input  type="text" class="form-control bg-primary py-0 " >
                    </div>
                    <input name="CustomerNickName" type="text" class="form-control bg-primary py-0 visually-hidden" value="@(Model.CustomerNickName)">

                </div>
                <div class="mb-3">
                    <p for="exampleInputEmail1" class="form-label">電子信箱</p>
                    <div class="row">
                        <div class="col-12 border-bottom border-dark">
                            <span class="">@CustomerEmail</span>
                        </div>
                    </div>

                </div>
                <div class="mb-3">
                    <label for="CustomerCellPhone"  class="form-label">手機</label>

                    <div class="row CustomerCellPhone-span">
                        <div class="col-10 border-bottom border-dark ">
                            <span class="">@CustomerCellPhone</span>
                        </div>
                        <div class="col-2 border-bottom border-dark">
                            <button class=" bg-primary float-end  btn py-0 " type="button" onclick="switchTag('CustomerCellPhone')"><i
                                    class="fa-regular fa-pen-to-square"></i></button>
                        </div>
                    </div>
                    <!-- 替換 -->
                    <div class="row visually-hidden CustomerCellPhone-input"   >
                        <input type="text" class="form-control bg-primary py-0" >
                    </div>
                    <input name="CustomerCellPhone" type="text" class="form-control bg-primary py-0 visually-hidden" value="@(Model.CustomerCellPhone)">

                </div>

                <div class="mb-3">
                    <label for="CustomerLocalPhone" class="form-label">市話</label>
                    <div class="row CustomerLocalPhone-span">
                        <div class="col-10 border-bottom border-dark ">
                            <span class="">@CustomerLocalPhone</span>
                        </div>
                        <div class="col-2 border-bottom border-dark">
                            <button class=" bg-primary float-end  btn py-0 " type="button" onclick="switchTag('CustomerLocalPhone')"><i
                                    class="fa-regular fa-pen-to-square"></i></button>
                        </div>
                    </div>
                    <!-- 替換 -->
                    <div class="row visually-hidden CustomerLocalPhone-input">
                        <input  type="text" class="form-control bg-primary py-0 " >
                    </div>
                    <input name="CustomerLocalPhone" type="text" class="form-control bg-primary py-0 visually-hidden" value="@(Model.CustomerLocalPhone)">

                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-10">                                
                            <label for="Address" class="form-label ">常用地址</label>
                        </div>
                        <div class="col-2 ">
                            <button class=" bg-primary float-end  btn py-0 CustomerAddress-btn" id=" CustomerAddress-btn" type="button" onclick="editAdress()">
                                <i class="fa-regular fa-pen-to-square"></i></button>
                        </div>
                    </div>
                    <div class="mb-3 g-6  ">
                            
                        <div class="row">
                            <div class="col-6 col-lg-6 border-bottom border-dark CustomerAddressCity-span">
                                    
                                <span class="">@CustomerAddressCity</span>
                                @* <span class="">臺中市</span> *@
                            </div>
    
                            <div class="col-6 col-lg-6  border-bottom border-dark CustomerAddressDistrict-span">                                
                                <span class="">@CustomerAddressDistrict</span>                                 
                            </div>

                            <!-- todo動態生成 -->
                            <div class="col-6 col-lg-6  CustomerAddressCity-select visually-hidden px-0" id="CustomerAddressCity">
                                <select class="form-select  form-select-sm  bg-primary " name="CustomerAddressCity">
                                    <option selected>@CustomerAddressCity</option>
                                    <option >彰化市</option>
                                    <option >雲林縣</option>
                                </select>
                            </div>
                            <!-- todo動態生成 -->
                            <div class="col-6 col-lg-6  CustomerAddressDistrict-select visually-hidden px-0" id="CustomerAddressDistrict">
                                <select class="form-select  form-select-sm bg-primary " name ="CustomerAddressDistrict">
                                    <option selected>@CustomerAddressDistrict</option>
                                    <option>南區</option>
                                    <option >北區</option>
                                    <option>西區</option>
                                </select>
                            </div>
                        </div>
                        <div class="row CustomerAddressDetails-span mt-3 border-bottom border-dark ">
                            <span class="">@CustomerAddressDetails</span>
                        </div>
                        <!-- 替換 -->
                        <div class="row CustomerAddressDetails-input mt-3 visually-hidden"   >
                            <input name="CustomerAddressDetails" type="text" value="@CustomerAddressDetails" class="form-control bg-primary py-0 ">
                        </div>
                    </div>

                </div>


                <div class="mb-3">
                    <label for="CustomerEinvoiceNumber" class="form-label">手機載具</label>
                    <div class="row CustomerEinvoiceNumber-span">
                        <div class="col-10 border-bottom border-dark ">
                            <span class="">@CustomerEinvoiceNumber</span>
                        </div>
                        <div class="col-2 border-bottom border-dark">
                            <button class=" bg-primary float-end  btn py-0 " type="button" onclick="switchTag('CustomerEinvoiceNumber')"><i
                                    class="fa-regular fa-pen-to-square"></i></button>
                        </div>
                    </div>
                    <!-- 替換 -->
                    <div class="row visually-hidden CustomerEinvoiceNumber-input"   >
                        <input type="text" class="form-control bg-primary py-0 ">
                    </div>
                    <input name="CustomerEinvoiceNumber" type="text" class="form-control bg-primary py-0 visually-hidden" value="@(Model.CustomerEinvoiceNumber)">

                </div>

                <div class="mb-3">
                    <label for="CustomerPassword" class="form-label is-required">密碼</label>

                    <div class="row CustomerPassword-span">
                        <div class="col-10 border-bottom border-dark ">
                            <span class="">******</span>
                        </div>
                        <div class="col-2 border-bottom border-dark">
                            <button class=" bg-primary float-end  btn py-0 " type="button" onclick="switchTag('CustomerPassword')"><i
                                    class="fa-regular fa-pen-to-square"></i></button>
                        </div>
                    </div>
                    <!-- 替換 -->
                    <div class="row visually-hidden CustomerPassword-input"   >
                        <input  type="password" class="form-control bg-primary py-0 " >
                        <div class="invalid-feedback">請輸入密碼</div>
                    </div>
                    <input name="CustomerPassword" type="password" class="form-control bg-primary py-0 visually-hidden">

                </div>
                <div class="mb-3 mt-5 save-div visually-hidden">
                    <label for="originPassword " class="form-label is-required">原始密碼</label>
                    <div class="row">

                        <input type="password" class=" form-control bg-primary form-control-sm py-0" name="originPassword" placeholder="輸入原始密碼進行會員資料修改"
                               value="mU2^6@Kc4wB8" required>
                        <div class="invalid-feedback">請輸入原始密碼</div>
                    </div>
                    <div class="d-flex justify-content-end mt-3">

                        <button type="submit" class=" btn btn-outline-success px-4 py-2 rounded-pill d-block ">儲存修改</button>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>

@section Scripts{
<script>
    
    let isEdit = false;
    let addressData;
    // 載入縣市名稱
    $(document).ready(async () => {
        addressData = await getaddressData();
        let cityOptions = "";
        addressData.forEach((v, i) => {
            const cutryName = v.CityName.replace("臺", "台");
                cityOptions += $(".CustomerAddressCity-span span").text() === cutryName ? `<option selected>${cutryName}</option> ` : `<option>${cutryName}</option> `
        })
        $("#CustomerAddressCity>select").html(cityOptions);
    })
    const showEdit = () => {
        isEdit ? $(".save-div").removeClass("visually-hidden"):"";
    }
    const getaddressData = async () => {        
        return await fetch("data/CityCountryData.json",
        {
            method: 'GET'
        })               
        .then(res => res.json())
        .then(data => data)
    }
    const setAddressDistrict = async() => {
        let districtOptions = "";
            const city = addressData.find(v => v.CityName.replace("臺", "台") === $("#CustomerAddressCity>select option:selected").text());
        city.AreaList.forEach(v => {
            districtOptions += $(".CustomerAddressDistrict-span span").text() === v.AreaName ? `<option selected>${v.AreaName}</option> ` : `<option>${v.AreaName}</option> `
        });
        $("#CustomerAddressDistrict>select").html(districtOptions);
    }    
    //根據選到的城市 放區CustomerAddressDistrict的選項
    $("#CustomerAddressCity>select").change(async function(){
            await setAddressDistrict();
    })
    async function editAdress(){

        let originText = "";
        //隱藏文字
        $(".CustomerAddress-btn").addClass("visually-hidden");
        $(".CustomerAddressCity-span").addClass("visually-hidden");
        $(".CustomerAddressDistrict-span").addClass("visually-hidden");
        $(".CustomerAddressDetails-span").addClass("visually-hidden");

        originText = $(".CustomerAddressDetails-span span").text() === '未填' ? "" : $(".CustomerAddressDetails-span span").text();
        //顯示input
        $(".CustomerAddressCity-select").removeClass("visually-hidden");
        $(".CustomerAddressDistrict-select").removeClass("visually-hidden");
        $(".CustomerAddressDetails-input").removeClass("visually-hidden");
        $(".CustomerAddressCity-select select").focus();
        $(".CustomerAddressDetails-input>input").val(originText);
        await setAddressDistrict();
        isEdit = true;
        showEdit();
        console.log(originText);
    }
    function switchTag(target){

        let originText = "";
        $(`.${target}-input`).removeClass("visually-hidden");
        $(`.${target}-input>input`).focus();
        originText = $(`.${target}-span span`).text() === "未填" ? "" : $(`.${target}-span span`).text();
        //  直接選在字尾
        $(`.${target}-input>input`).val( target == "CustomerPassword" ? "": originText);
        $(`.${target}-span`).addClass("visually-hidden");
        $(`input[name=${target}]`).remove();
        //動態新增name 沒有點擊修改就是既有資料
        $(`.${target}-input>input`).attr("name", target);
        if (target === "CustomerName" || target == "CustomerPassword") $(`.${target}-input>input`).attr("required", "");

        isEdit = true;
        showEdit();
        console.log(originText);
    }
        
</script>
}