@{
	var store = ViewData["Store"] as Store;
	var products = ViewData["Products"] as List<Product>;
	byte orderStatus = store.StoreOrderStatus;
	bool isOrder = (orderStatus == 1) ? true : false;

	var openingTime = ViewBag.storeOpeningTimeQuery?.storeOpeningTime.ToString("HH:mm");
	var closingTime = ViewBag.storeOpeningTimeQuery?.storeClosingTime.ToString("HH:mm");
	var isOpen = ViewBag.storeOpeningTimeQuery?.storeOpenOrNot ?? false;

	string heartIconClass = ViewBag.isFavorite ? "fas" : "far";
}

<section class="container-lg">

	<!-- 狀態通知開始 -->
	<div class="product-toolbar">


		@if (!isOrder)
		{
			<div class="alert alert-danger mt-3 py-1 fs-5 fw-bold text-center" role="alert">
				門市暫停接單
			</div>
		}
		else if (ViewBag.orderStatusTime == 2)
		{
			<div class="alert alert-secondary mt-3 py-1 fs-5 fw-bold text-center" role="alert">
				門市尚未營業
			</div>
		}
		else if (ViewBag.orderStatusTime == 3)
		{
			<div class="alert alert-secondary mt-3 py-1 fs-5 fw-bold text-center" role="alert">
				門市結束營業
			</div>
		}
		else if (ViewBag.orderStatusTime == 4)
		{

		}

	</div>
	<!-- 狀態通知結束 -->
	<!-- 店家資訊開始 -->
	<div class="product-store row mx-auto my-3 bg-white shadow-sm d-flex justify-content-between">

		<div class="store-info col-sm-12 col-md-4 px-4">
			<div class="store-shop d-flex justify-content-between fs-4 fw-bold text-dark pt-3">
				@store.StoreName
				<i id="heart-icon" class="text-danger @heartIconClass fa-heart"></i>
			</div>
			<div class="store-comment fs-6 fw-bold mb-2 d-flex align-items-center">
				<span class="star-container home-store-star d-inline-block"
					  style="background: linear-gradient(to right ,  #ffd700 0% @((ViewBag.averageRating*20).ToString()+"%"), #FFFFFF @((ViewBag.averageRating*20).ToString()+"%") 100%)"></span>

				@if (ViewBag.totalReviews > 0)
				{
					<span>
						@ViewBag.averageRating (<a href="javascript:void(0)" class="text-dark" data-bs-toggle="modal" data-bs-target="#commentModal">@ViewBag.reviewCountSum</a>)
					</span>
				}
				else
				{
					<span>@ViewBag.averageRating (@ViewBag.reviewCountSum)</span>
				}

				@* <span>
				@ViewBag.averageRating (<a href="javascript:void(0)" class="text-dark" data-bs-toggle="modal"
				data-bs-target="#commentModal">@ViewBag.reviewCountSum</a>)
				</span> *@
			</div>
			<div class="store-time fs-6 mb-1">
				<i class="fa-solid fa-clock me-2"></i>
				@* <span>10:00 ~ 11:00</span> *@
				<span>@(isOpen ? openingTime + "-" + closingTime : "今日門市未營業")</span>

			</div>
			<div class="store-phone fs-6 mb-1">
				<i class="fa-solid fa-phone me-2"></i>
				<span>@store.StorePhoneNumber</span>
			</div>
			<div class="store-address fs-6 mb-1">
				<i class="fa-solid fa-location-dot me-2"></i>
				<span>@store.StoreAddressCity@store.StoreAddressDistrict@store.StoreAddressDetails</span>
			</div>
			<div class="store-pay fs-6 mb-1">
				<i class="fa-solid fa-sack-dollar me-2"></i>
				<span>現金</span>

				@if (store.StoreLinePay)
				{
					<span>、LINE PAY</span>
				}

			</div>

		</div>
		<div class="store-image-container col-sm-12 col-md-8 p-0">
			<img class="store-image img-fluid w-100" src="~/@store.StoreImage" alt="店家圖片">
		</div>

	</div>


	<!-- 店家資訊結束 -->
	<!-- 商品開始 -->
	<div class="product row">

		<!-- 商品分類開始 -->



		<div class="product-category col-sm-3">

			<div id="categoryFilter" class="list-group custom-checkbox rounded-2 shadow-sm">
				<label class="list-group-item fs-5 fw-bold text-dark">
					商品分類
				</label>

				@foreach (var category in ViewBag.ProductCategoryCounts)
				{
					<label class="list-group-item d-flex justify-content-between align-items-center fs-5">
						<span>
							<input class="form-check-input me-1 category-checkbox" type="checkbox" name="categoryName" value="@category.CategoryId">
							@category.CategoryName
						</span>
						<span class="badge bg-dark rounded-pill">
							@category.ProductCount
						</span>
					</label>
				}
			</div>
		</div>




		<!-- 商品分類結束 -->
		<!-- 商品列表開始 -->
		<div id="product-list" class="product-list col-sm-9 mb-3">
			<div class="row row-cols-1 row-cols-md-3 g-3">
				@foreach (var product in products)
				{
					var productImage = string.IsNullOrEmpty(product.ProductImage) ? "image/Common/300x300_default.png" : product.ProductImage;
					<div class="col product-category-@product.CategoryId product-item" data-id="@product.ProductId" data-category="@product.CategoryId" data-productid="@product.ProductId" data-stock="@product.ProductUnitsInStock" data-store="@store.StoreId">
						<div class="card h-100">
							<img src="~/@productImage" class="card-img-top" alt="食物圖片">
							<div class="card-body fs-5 fw-bold">
								<div class="product-name mb-1">@product.ProductName</div>
								<div class="product-price">$@Convert.ToInt32(product.ProductUnitPrice)</div>
							</div>
							<div class="card-footer bg-white border-0 fs-6 d-flex justify-content-between align-items-center">
								<div class="input-group w-50">
									<button class="quantity btn btn-success" type="button" onclick="productAdjustValue(this, -1)">
										<i class="fa-solid fa-minus fw-bold text-white"></i>
									</button>
									<input type="text" class="form-control fw-bold text-center product-quantity-input" value="1" id="@product.ProductId" autocomplete="off" min="1" max="99" oninput="this.value=this.value.replace(/[^0-9]/g,'')">
									<button class="quantity btn btn-success" type="button" onclick="productAdjustValue(this, 1)">
										<i class="fa-solid fa-plus fw-bold text-white"></i>
									</button>
								</div>
								@if (ViewBag.orderStatusTime == 2 || ViewBag.orderStatusTime == 3)
								{
									<button id="@product.ProductId" class="product-btn btn btn-outline-dark fw-bold" type="button" disabled>不能加入商品</button>
								}
								else if (!isOrder)
								{
									<button id="@product.ProductId" class="product-btn btn btn-outline-dark fw-bold" type="button" disabled>不能加入商品</button>
								}
								else if (ViewBag.storeOpeningTimeQuery.storeOpenOrNot == false)
								{
									<button id="@product.ProductId" class="product-btn btn btn-outline-dark fw-bold" type="button" disabled>不能加入商品</button>
								}
								else
								{
									if (product.ProductUnitsInStock > 0)
									{
										<button id="@product.ProductId" class="product-btn btn btn-outline-danger fw-bold" type="button">加入購物車</button>
									}
									else
									{
										<button id="@product.ProductId" class="product-btn btn btn-dark fw-bold" type="button" disabled>商品已售完</button>
									}
								}
							</div>
						</div>
					</div>
				}

			</div>
		</div>
	</div>
	<!-- 商品列表結束 -->
	<!-- 商品結束 -->

</section>



@* <form method="get" action="/Account/Login">
	<!-- 登入模態對話框 -->
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header border-0">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body text-center fs-3 fw-bold">
					<i class="fa-solid fa-circle-exclamation text-danger fs-2"></i>
					<p id="loginMessage"></p>
					<!-- 在這裡添加登入表單或其他內容 -->
				</div>
				<div class="modal-footer border-0 d-flex justify-content-center">
					<button type="submit" class="btn btn-info text-white col-4">登入</button>
					<button type="button" class="btn btn-secondary col-4" data-bs-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>

</form> *@

<partial name="_StoreCommentPartial" model="store" />
<script src="~/js/cartjs.js"></script>



@section Scripts {

	<script>


		// 商品數量調整
		$('#product-list').on('input change paste keyup', '.product-quantity-input', function () {
			var inputField = $(this);
			var cartItemId = inputField.closest('.product-item').data('id');
			var maxStock = inputField.closest('.product-item').data('stock');

			var currentValue = parseInt(inputField.val());
			var newValue = currentValue;

			if (isNaN(newValue) || newValue < 1) {
				newValue = 1;
			} else if (newValue > maxStock) {
				newValue = maxStock;
				maxQuantity();
			} else if (newValue > 30) {
				newValue = 30;
				maxQuantity();
			}

			inputField.val(newValue);

		});


		function productAdjustValue(button, increment) {
			var inputField = $(button).closest('.input-group').find('.product-quantity-input');
			var cartItemId = inputField.closest('.product-item').data('id');
			var maxStock = inputField.closest('.product-item').data('stock');
			var currentValue = parseInt(inputField.val());
			var newValue = currentValue + increment;

			if (isNaN(newValue) || newValue < 1) {
				newValue = 1;
			} else if (newValue > maxStock) {
				newValue = maxStock;
				maxQuantity();
			} else if (newValue > 30) {
				newValue = 30;
				maxQuantity();
			}

			inputField.val(newValue);
		}


		// 加入購物車

		$('#product-list').on('click', '.product-btn', function () {
			var productId = $(this).attr('id');
			var quantity = $(this).closest('.card-footer').find('.product-quantity-input').val();
			var storeId = $('.product-item').data('store');


			// $('.product-item').data('store')
			// $('.cart-item').data('storeid')

			if ($('.product-item').data('store') != $('.cart-item').data('storeid') && $('.cart-item').data('storeid') != null) {
				return addSameStoreProdouctMessage();
			}

			// 發送 AJAX 請求
			$.ajax({
				url: '/ShoppingCarts/AddToCart', // 你的控制器方法的路徑
				type: 'POST',
				data: { productId: productId, quantity: quantity, storeId: storeId },
				success: function (data) {
					// 在這裡處理從控制器返回的數據
	
					if (data.success) {						
						getCart();						
						AddCartSuccess();
						countCartItems();
					
		
					} else {
						if (data.message == '請先登入') {
							showLoginModal(data.message);
						}
						// alert('商品數量不足');
					}

				},
				error: function () {
					alert('發生錯誤');
				}
			});
		});





		// 顯示加入購物車成功訊息
		function AddCartSuccess() {
			toastr.options = {
				"closeButton": false,
				"debug": false,
				"newestOnTop": false,
				"progressBar": false,
				"positionClass": "toast-top-right",
				"preventDuplicates": false,
				"showDuration": "300",
				"hideDuration": "1000",
				"timeOut": "2000",
				"extendedTimeOut": "1000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			}
			toastr["success"]("商品已加入購物車！");
		}
		//顯示請選擇同一個門市商品訊息
		function addSameStoreProdouctMessage() {
			toastr.options = {
				"closeButton": false,
				"debug": false,
				"newestOnTop": false,
				"progressBar": false,
				"positionClass": "toast-top-center",
				"preventDuplicates": false,
				"showDuration": "300",
				"hideDuration": "1000",
				"timeOut": "3000",
				"extendedTimeOut": "1000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			}
			toastr["warning"]("請選擇同一個門市商品或先結算再加入購物車！")
		}

		//顯示商品可以購買的最大數量
		// function addMaxQuantityMessage() {
		// 	toastr.options = {
		// 		"closeButton": false,
		// 		"debug": false,
		// 		"newestOnTop": false,
		// 		"progressBar": false,
		// 		"positionClass": "toast-top-center",
		// 		"preventDuplicates": false,
		// 		"showDuration": "300",
		// 		"hideDuration": "1000",
		// 		"timeOut": "3000",
		// 		"extendedTimeOut": "1000",
		// 		"showEasing": "swing",
		// 		"hideEasing": "linear",
		// 		"showMethod": "fadeIn",
		// 		"hideMethod": "fadeOut"
		// 	}
		// 	toastr["warning"]("已達到商品可以購買的最大數量！")
		// }

		// 點擊心心按鈕
		$(function () {
			var storeId = @store.StoreId;

			$('#heart-icon').click(function () {
				$.ajax({
					url: '/Store/ToggleFavorite',
					type: 'POST',
					data: { storeId: storeId },
					success: function (data) {
						if (data.success) {
							// 切換愛心圖標狀態
							$('#heart-icon').toggleClass('far fas');
						} else {
							// 顯示登入視窗
							showLoginModal(data.message);
						}
					}
				});
			});
		});

		// function showLoginModal(message) {
		// 	// 您的代碼,用於顯示登入視窗
		// 	// 可以在這裡顯示錯誤消息
		// 	// alert(message);
		// 	// 設置錯誤消息
		// 	$('#loginMessage').text(message);

		// 	// 顯示模態對話框
		// 	$('#loginModal').modal('show');
		// }

		//商品分類篩選
		$('.category-checkbox').change(function () {
			var selectedCategories = [];
			$('.category-checkbox:checked').each(function () {
				selectedCategories.push($(this).val());
			});
			// console.log(selectedCategories);

			// 顯示勾選的分類商品
			$('[data-category]').each(function () {
				var categoryValue = $(this).data('category');
				if (selectedCategories.length === 0) {
					$(this).show();
				} else {
					if (selectedCategories.includes(categoryValue.toString())) {
						$(this).show();
					} else {
						$(this).hide();
					}
				}
			});
		});

		//商品分類篩選
		$('.category-checkbox').change(function () {
			var selectedCategories = [];
			$('.category-checkbox:checked').each(function () {
				selectedCategories.push($(this).val());
			});
			// console.log(selectedCategories);

			// 顯示勾選的分類商品
			$('[data-category]').each(function () {
				var categoryValue = $(this).data('category');
				if (selectedCategories.length === 0) {
					$(this).show(); 
				} else {
					if (selectedCategories.includes(categoryValue.toString())) {
						$(this).show(); 
					} else {
						$(this).hide(); 
					}
				}
			});
		});

	</script>

}
