@model msit59_vita.Models.Store;

@{
    var indexMapping = new Dictionary<int, int>
            {
                { 0, 5 }, { 1, 1 }, { 2, 6 }, { 3, 0 }, { 4, 4 }, { 5, 2 }, { 6, 3 }
            };
    var clientOpeningHours = ((List<StoreOpeningHour>)ViewBag.StoreOpeningHours).OrderBy(item => indexMapping[(ViewBag.StoreOpeningHours.IndexOf(item))]).ToList();
    
    string[] StoreOpeningTime = new string[7];
    string[] StoreClosingTime = new string[7];

    for (int i = 0; i < clientOpeningHours.Count && i < 7; i++)
    {
        StoreOpeningTime[i] = clientOpeningHours[i]?.StoreOpeningTime?.ToString("HH:mm") ?? "";
        StoreClosingTime[i] = clientOpeningHours[i]?.StoreClosingTime?.ToString("HH:mm") ?? "";

        // Console.WriteLine(clientOpeningHours[i].MyWeekDay + StoreOpeningTime[i] + StoreClosingTime[i] + "你好");
    }
}

   
    <div class="row mb-3">
        <input class="form-control" id="StoreId" name="StoreId" type="hidden" value="@Model.StoreId" />
        <div class="col-8">
            <label class="form-label" for="StoreName">商家名稱</label>
            <input class="form-control" id="StoreName" type="text" placeholder="@Model.StoreName" disabled />
        </div>
        <div class="col-4">
            <label class="form-label" for="StorePhoneNumber">連絡電話</label>
        <input class="form-control" id="StorePhoneNumber" name="StorePhoneNumber" value="@Model.StorePhoneNumber"
            type="text" placeholder="連絡電話" required/>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label class="form-label" for="StoreAddressCity">縣市</label>
        <input class="form-control" id="StoreAddressCity" placeholder="@Model.StoreAddressCity"
            type="text" placeholder="縣市" disabled />
        </div>
        <div class="col-3">
            <label class="form-label" for="StoreAddressDistrict">鄉鎮區市</label>
        <input class="form-control" id="StoreAddressDistrict"  placeholder="@Model.StoreAddressDistrict"
               type="text" placeholder="鄉鎮區市" disabled />
        </div>
        <div class="col-7">
            <label class="form-label" for="StoreAddressDetails">詳細地址</label>
        <input class="form-control" id="StoreAddressDetails"  placeholder="@Model.StoreAddressDetails"
               type="text" placeholder="商家地址" disabled />
        </div>
    </div>

<div class="row">
    <div class="mb-3 col-8">
        <label class="form-label" for="StoreOpeningHours">營業時間</label>
        <!-- 週日 -->
        <div class="row align-items-center  weekday-area">
            <label class="form-label col-2 mb-0">週日</label>
            <div class="col-2">
                <input class="form-check-input weekday-checkbox" type="checkbox" 
                       id="StoreSunday" name="clientOpeningHours[0].StoreOpenOrNot" value="true" @((clientOpeningHours[0].StoreOpenOrNot == true) ? "checked" : "") />
                <label class="form-label mb-0" for="StoreSunday">有營業</label>
            </div>
            <div class="col-3">
                <input class="form-control invisible" id="StoreOpeningTimeSunday" value="@(StoreOpeningTime[0] !=null ? StoreOpeningTime[0]:"")"
                       type="time" name="clientOpeningHours[0].StoreOpeningTime" />
            </div>
            <div class="col-3">
                <input class="form-control invisible" id="StoreClosingTimeSunday" value="@(StoreClosingTime[0] !=null ? StoreClosingTime[0]: "" )"
                       type="time" name="clientOpeningHours[0].StoreClosingTime" />
            </div>
        </div>
        <!-- 週一 -->
        <div class="row align-items-center  weekday-area">
            <label class="form-label col-2 mb-0">週一</label>
            <div class="col-2">
                <input class="form-check-input weekday-checkbox" type="checkbox"
                       id="StoreMonday" name="clientOpeningHours[1].StoreOpenOrNot" value="true" @((clientOpeningHours[1].StoreOpenOrNot == true) ? "checked" : "") )>
                <label class="form-label mb-0" for="StoreMonday">有營業</label>
            </div>
            <div class="col-3 shown-is-open">
                <input class="form-control invisible" id="StoreOpeningTimeMonday" value="@(StoreOpeningTime[1] !=null ? StoreOpeningTime[1]: "" )"
                       type="time" name="clientOpeningHours[1].StoreOpeningTime" />
            </div>
            <div class="col-3 shown-is-open">
                <input class="form-control invisible" id="StoreClosingTimeMonday" value="@(StoreClosingTime[1] !=null ? StoreClosingTime[1]: "" )"
                       type="time" name="clientOpeningHours[1].StoreClosingTime" />
            </div>
        </div>
        <!-- 週二 -->
        <div class="row align-items-center weekday-area">
            <label class="form-label col-2 mb-0">週二</label>
            <div class="col-2">
                <input class="form-check-input weekday-checkbox" type="checkbox" 
                       id="StoreTuesday" name="clientOpeningHours[2].StoreOpenOrNot" value="true" @((clientOpeningHours[2].StoreOpenOrNot == true) ? "checked" : "") )>
                <label class="form-label mb-0" for="StoreTuesday">有營業</label>
            </div>
            <div class="col-3">
                <input class="form-control invisible" id="StoreOpeningTimeTuesday" value="@(StoreOpeningTime[2] !=null ? StoreOpeningTime[2]: "" )"
                       type="time" name="clientOpeningHours[2].StoreOpeningTime" />
            </div>
            <div class="col-3">
                <input class="form-control invisible" id="StoreClosingTimeTuesday" value="@(StoreClosingTime[2] !=null ? StoreClosingTime[2]: "" )"
                       type="time" name="clientOpeningHours[2].StoreClosingTime" />
            </div>
        </div>
        <!-- 週三 -->
        <div class="row align-items-center  weekday-area">
            <label class="form-label col-2 mb-0">週三</label>
            <div class="col-2">
                <input class="form-check-input weekday-checkbox" type="checkbox" value="true"
                       id="StoreWednesday" name="clientOpeningHours[3].StoreOpenOrNot" @((clientOpeningHours[3].StoreOpenOrNot == true) ? "checked" : "") )>
                <label class="form-label mb-0" for="StoreWednesday">有營業</label>
            </div>
            <div class="col-3">
                <input class="form-control invisible" id="StoreOpeningTimeWednesday" value="@(StoreOpeningTime[3] !=null ? StoreOpeningTime[3]: "" )"
                       name="clientOpeningHours[3].StoreOpeningTime" type="time" />
            </div>
            <div class="col-3">
                <input class="form-control invisible" id="StoreClosingTimeWednesday" value="@(StoreClosingTime[3] !=null ? StoreClosingTime[3]: "" )"
                       name="clientOpeningHours[3].StoreClosingTime" type="time" />
            </div>
        </div>
        <!-- 週四 -->
        <div class="row align-items-center  weekday-area">
            <label class="form-label col-2 mb-0">週四</label>
            <div class="col-2">
                <input class="form-check-input weekday-checkbox" type="checkbox" value="true"
                       id="StoreThursday" name="clientOpeningHours[4].StoreOpenOrNot" @((clientOpeningHours[4].StoreOpenOrNot == true) ? "checked" : "") )>
                <label class="form-label mb-0" for="StoreThursday">有營業</label>
            </div>
            <div class="col-3">
                <input class="form-control  invisible" id="StoreOpeningTimeThursday" value="@(StoreOpeningTime[4] !=null ? StoreOpeningTime[4]: "" )"
                       name="clientOpeningHours[4].StoreOpeningTime" type="time" />
            </div>
            <div class="col-3">
                <input class="form-control invisible" id="StoreClosingTimeThursday" value="@(StoreClosingTime[4] !=null ? StoreClosingTime[4]: "" )"
                       name="clientOpeningHours[4].StoreClosingTime" type="time" />
            </div>
        </div>
        <!-- 週五 -->
        <div class="row align-items-center  weekday-area">
            <label class="form-label col-2 mb-0">週五</label>
            <div class="col-2">
                <input class="form-check-input weekday-checkbox" type="checkbox" value="true"
                       id="StoreFriday" name="clientOpeningHours[5].StoreOpenOrNot" @((clientOpeningHours[5].StoreOpenOrNot == true) ? "checked" : "") )>
                <label class="form-label mb-0" for="StoreFriday">有營業</label>
            </div>
            <div class="col-3">
                <input class="form-control invisible" id="StoreOpeningTimeFriday" value="@(StoreOpeningTime[5] !=null ? StoreOpeningTime[5]: "" )"
                       type="time" name="clientOpeningHours[5].StoreOpeningTime" />
            </div>
            <div class="col-3">
                <input class="form-control  invisible" id="StoreClosingTimeFriday" value="@(StoreClosingTime[5] !=null ? StoreClosingTime[5]: "" )"
                       type="time" name="clientOpeningHours[5].StoreClosingTime" />
            </div>
        </div>
        <!-- 週六 -->
        <div class="row align-items-center  weekday-area">
            <label class="form-label col-2 mb-0">週六</label>
            <div class="col-2">
                <input class="form-check-input weekday-checkbox" type="checkbox"
                       id="StoreSaturday" name="clientOpeningHours[6].StoreOpenOrNot" value="true" @((clientOpeningHours[6].StoreOpenOrNot == true) ? "checked" : "") ) />
                <label class="form-label mb-0" for="StoreSaturday">有營業</label>
            </div>
            <div class="col-3">
                <input class="form-control invisible" id="StoreOpeningTimeSaturday" value="@(StoreOpeningTime[6] !=null ? StoreOpeningTime[6]: "" )"
                       name="clientOpeningHours[6].StoreOpeningTime" type="time" />
            </div>
            <div class="col-3">
                <input class="form-control invisible" id="StoreClosingTimeSaturday" value="@(StoreClosingTime[6] !=null ? StoreClosingTime[6]: "" )"
                       name="clientOpeningHours[6].StoreClosingTime" type="time" />
            </div>
        </div>
    </div>

    <div class="mb-3 col-4">
        <div class="mb-3">
            <label class="form-label d-block">開立發票方式</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="StoreUniformInvoiceVia" id="UniformInvoiceYes" type="radio" value="false" required @((Model.StoreUniformInvoiceVia == false) ? "checked" : "") ) />
                <label class="form-check-label" for="UniformInvoiceYes">不開立統一發票</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="StoreUniformInvoiceVia" id="UniformInvoiceNo" type="radio" value="true" required @((Model.StoreUniformInvoiceVia == true) ? "checked" : "") ) />
                <label class="form-check-label" for="UniformInvoiceNo">紙本 / 電子發票</label>
            </div>

        </div>
        <div class="mb-3">
            <label class="form-label d-block">接受LINEPAY</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="LinePayYes" type="radio" name="StoreLinePay" value="true" required @((Model.StoreLinePay == true) ? "checked" : "")/>
                <label class="form-check-label" for="LinePayYes">是</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="LinePayNo" type="radio" name="StoreLinePay" value="false" required @((Model.StoreLinePay == false) ? "checked" : "")  />
                <label class="form-check-label" for="LinePayNo">否</label>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label d-block" for="StoreImage">請選擇店家首圖檔案</label>
            <input class="form-control" type="file" name="clientStoreImage" accept="image/*" />

        </div>
    </div>
</div>

<script>
    $('.weekday-checkbox').each(function () {
        if ($(this).is(":checked")) { 
            $(this).closest('.weekday-area').find('input[name*=StoreOpeningTime]').removeClass('invisible');
            $(this).closest('.weekday-area').find('input[name*=StoreClosingTime]').removeClass('invisible');

            $(this).closest('.weekday-area').find('input[name*=StoreOpeningTime]').prop('required', true);
            $(this).closest('.weekday-area').find('input[name*=StoreClosingTime]').prop('required', true);
        }
    })

    $('.weekday-checkbox').on("change", function () {


        if ($(this).is(":checked")) {
            $(this).closest('.weekday-area').find('input[name*=StoreOpeningTime]').removeClass('invisible');
            $(this).closest('.weekday-area').find('input[name*=StoreClosingTime]').removeClass('invisible');

            $(this).closest('.weekday-area').find('input[name*=StoreOpeningTime]').prop('required', true);
            $(this).closest('.weekday-area').find('input[name*=StoreClosingTime]').prop('required', true);



        } else {
            $(this).closest('.weekday-area').find('input[name*=StoreOpeningTime]').addClass('invisible');
            $(this).closest('.weekday-area').find('input[name*=StoreClosingTime]').addClass('invisible');

            $(this).closest('.weekday-area').find('input[name*=StoreOpeningTime]').prop('required', false);
            $(this).closest('.weekday-area').find('input[name*=StoreClosingTime]').prop('required', false);


        }
    });
</script>