@model Order

@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

@section MyStyle {
    <style>
        .info-area {
            padding: 50px 0px 0px 0px;
            width: 90%
        }

        #order-info ul {
            min-width: 300px !important;
        }

        #order-info,
        #review-info {
            font-size: larger;
        }

        @@media (max-width: 992px) {
            #order-info ul {
                min-width: auto;
            }

            #review-info {
                padding-top: 35px;
            }
        }

        @@media (max-width: 576px) {

            #order-info,
            #review-info {
                font-size: large;
            }
        }



        /* 今日訂單資訊 */
        .wide-text-box {
            min-width: 200px;
            margin-top: 20px;
        }

        #orderChartCanvas {
            height: 300px;
        }


        /* 評論管理 */
        #reviewMosaicPlot {
            width: 100%;
            height: 600px;
        }

        /* 本月營收分析 */
        .c-dashboardInfo {
            margin-bottom: 15px;
        }

            .c-dashboardInfo .wrap {
                background: #ffffff;
                box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
                border-radius: 7px;
                text-align: center;
                position: relative;
                overflow: hidden;
                padding: 40px 25px 20px;
                height: 100%;
            }

        .c-dashboardInfo__subInfo {
            color: #323c43;
            font-size: 1em;
        }

        .c-dashboardInfo__title {
            font-size: 1.3em;
            font-weight: bolder;
            color: black;
        }


        .c-dashboardInfo span {
            display: block;
        }

        .c-dashboardInfo__count {
            font-weight: 600;
            font-size: 2.5em;
            line-height: 64px;
            color: #323c43;
        }

        .c-dashboardInfo .wrap:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 10px;
            content: "";
        }

        .c-dashboardInfo:nth-child(1) .wrap:after {
            background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);
        }

        .c-dashboardInfo:nth-child(2) .wrap:after {
            background: linear-gradient(81.67deg, #ffa652 0%, #ff7b00 100%);
        }

        #ProductsBarChartCanvas,
        #DailyOrderChartCanvas {
            width: 100%;
           height: 700px;
        }

    </style>
}


@section Content {
    <div class=" row justify-content-center ms-5" style="width:90%">
        <div class="info-area">
            <div id="order-info">
                <h3 class="p-0 fw-bolder">今日訂單資訊</h3>
                <div class="d-flex justify-content-around align-items-start flex-wrap">
                    <div class="wide-text-box">
                        <ul class="list-unstyled">
                            <li class="fw-bold fs-4">訂單狀態概覽 </li>
                            <li class="fs-4">待接單：<a href="/ManagerOrders/ManagerOrders" onclick="CustomserStatusSelect_0()" class=" fw-bolder" style="color:blue">@ViewBag.OrderStatus[0] </a></li>
                            <li class="fs-4">製作中：<a href="/ManagerOrders/ManagerOrders" onclick="CustomserStatusSelect_1()" class="fw-bolder" style="color:blue">@ViewBag.OrderStatus[1]</a></li>
                            <li class="fs-4">配送中/等待自取：<a href="/ManagerOrders/ManagerOrders" onclick="CustomserStatusSelect_2()" class="fw-bolder" style="color:blue">@ViewBag.OrderStatus[2]</a></li>
                            <li class="fs-4">已完成：<a href="/ManagerOrders/ManagerOrders" onclick="CustomserStatusSelect_3()" class=" fw-bolder" style="color:blue">@ViewBag.OrderStatus[3]</a></li>
                            <li class="fs-4">退單：<a href="/ManagerOrders/ManagerOrders" onclick="CustomserStatusSelect_4()" class=" fw-bolder" style="color:blue">@ViewBag.OrderStatus[4]</a></li>
                            <li class="fs-4">已取消：<a href="/ManagerOrders/ManagerOrders" onclick="CustomserStatusSelect_5()" class="fw-bolder" style="color:blue">@ViewBag.OrderStatus[5]</a></li>


                        </ul>
                    </div>
                    <div >
                        <canvas id="orderChartCanvas" class="ps-0"></canvas>
                    </div>
                    <div class="wide-text-box " >
                        <ul class="list-unstyled ">
                            <li class="fw-bold fs-4" style="font-size: 20px">已完成訂單統計 </li>
                            <li class="fs-4">營業額： <span class="fw-bolder" style="color:blue">@ViewBag.TodayRevenue</span> </li>
                            <li class="fs-4">便當總數量：<span class="fw-bolder" style="color:blue">@ViewBag.TodayQuantity </span></li>
                        </ul>
                    </div>



                </div>

                <div id="review-info" class="pl-0 pt-4">
                    <h3 class="fw-bolder">前週評論分析</h3>
                    <ul class="list-unstyled ">
                        <li> 本週新進評論： <a href="/ManagerComments/ManagerComments" onclick="redirectToManagerComments()" class=" fw-bolder " style="color:blue">@ViewBag.NumComment</a> </li>
                    </ul>
                    <div id="reviewMosaicPlot"></div>
                </div>
            </div>

            <div id="sales-stats" class="pt-4 pl-0">
                <h3 class="fw-bolder">前月營運分析</h3>

                <div id="total-stats" class="row align-items-stretch pt-3 pb-3">
                    <div class="c-dashboardInfo col-lg-3 col-md-6">
                        <div class="wrap">
                            <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                                總營收
                            </h4><span class="hind-font caption-12 c-dashboardInfo__count">$@ViewBag.MonthlyRevenue</span><span class="hind-font caption-12 c-dashboardInfo__subInfo">MoM: +11%</span>
                        </div>
                    </div>
                    <div class="c-dashboardInfo col-lg-3 col-md-6">
                        <div class="wrap">
                            <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                                總銷售量
                            </h4><span class="hind-font caption-12 c-dashboardInfo__count">@ViewBag.MonthlyQuantity</span></span><span class="hind-font caption-12 c-dashboardInfo__subInfo">限便當單點</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="hist-stats" class="row">
                <div class="col-12  pt-3 pb-3">
                    <canvas id="ProductsBarChartCanvas">
                    </canvas>
                </div>
                <div class="col-12  pt-3 pb-3">
                    <canvas id="DailyOrderChartCanvas"></canvas>

                </div>

            </div>
        </div>



}

@section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/chart.js"> </script>
        <!-- for mosaic plot -->
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-mekko.min.js"></script>
        <script src="/js/custimized theme for mosaic plot.js"></script>

        <!-- for bar chart datalabel -->
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0/dist/chartjs-plugin-datalabels.min.js"></script>

        <script>
            function redirectToManagerComments() {
                sessionStorage.setItem('startDate', '@ViewBag.Last7DaysDate');
                sessionStorage.setItem('endDate', '@ViewBag.TodayDate');
            }
            function CustomserStatusSelect_0() {
                sessionStorage.setItem('todayDate', '@ViewBag.TodayDate');
                sessionStorage.setItem('CustomerOrderStatus', 0)
            }
            function CustomserStatusSelect_1() {
                sessionStorage.setItem('todayDate', '@ViewBag.TodayDate');
                sessionStorage.setItem('CustomerOrderStatus', 1)
               
            }
            function CustomserStatusSelect_2() {
                sessionStorage.setItem('todayDate', '@ViewBag.TodayDate');
                sessionStorage.setItem('CustomerOrderStatus', 2)
            }
            function CustomserStatusSelect_3() {
                sessionStorage.setItem('todayDate', '@ViewBag.TodayDate');
                sessionStorage.setItem('CustomerOrderStatus', 3)
            }
            function CustomserStatusSelect_4() {
                sessionStorage.setItem('todayDate', '@ViewBag.TodayDate');
                sessionStorage.setItem('CustomerOrderStatus', 4)

            }
            function CustomserStatusSelect_5() {
                sessionStorage.setItem('todayDate', '@ViewBag.TodayDate');
                sessionStorage.setItem('CustomerOrderStatus', 5)

            }

          
            //mosaic plot
        @{
            var WeeklyReviewByProductAndRating = ViewBag.WeeklyReviewByProductAndRating;
        }

                $(document).ready(function () {
                    var mosaicData = {
                        header: ['評分', 'R5', 'R4', 'R3', 'R2', 'R1'],

                        rows: [
        @foreach (var item in WeeklyReviewByProductAndRating)
        {
            <text>[@Html.Raw("\"" + @item[0] + "\""), @item[1], @item[2], @item[3], @item[4], @item[5]], </text>
        }
                            ],

                    };

                    // create a mosaic chart
                    var chart = anychart.mosaic();

                    // set color theme
                    anychart.theme("customized");


                    // set points padding
                    chart.pointsPadding(1);

                    // set chart data
                    chart.data(mosaicData);

                    // set the chart labels settings
                    chart.labels().fontSize(18);

                    // set background-color
                    chart.background().fill("#F2F2E7");

                    // enable HTML in tooltips and format
                    chart.tooltip()
                        .useHtml(true)
                        .titleFormat('<span style=\"font-size: 18px;\">{%X}</span>')
                        .format('<h5 style="font-size:18px; margin: 0.5rem 0;">{%Name}</h5><p style="font-size:18px;">評分級數：{%SeriesName}<br>銷售總額: {%Value}{scale:(1000)(1000)|( K)}</p>');
                    
                        // set container id for the chart
                    chart.container('reviewMosaicPlot');

                    // set the chart title
                    chart
                        .title()
                        .enabled(true)
                        .useHtml(true)
                        .text('<span style=\'font-size:30px; font-weight:bolder; color: black\'>商品銷售總額（評分級距 vs. 單點便當商品）</span>');


                    // configure X axis
                    chart.xAxis().labels().fontSize(20);
                    chart.xAxis().labels().fontColor('black');

                    // configure Y axis
                    chart.yAxis().labels().fontSize(20);
                    chart.yAxis().labels().fontColor('black');


                    // initiate chart drawing
                    chart.draw();
                })

        @{
            // 取得 ViewBag 中的資料
            var productNameList = ViewBag.MonthlyProductNames as string[];
            var productSalesList = ViewBag.MonthlyProductSales as int[];
        }
                //bar chart
                $(document).ready(function () {
                    var ctx3 = document.getElementById("ProductsBarChartCanvas");
                    Chart.register(ChartDataLabels);
                    var populationChart = new Chart(ctx3, {
                        type: "bar",
                        data: {
                            labels: @Html.Raw(Json.Serialize(productNameList)),
                            // X 軸項目清單
                            datasets: [
                                {

                                    data: @Html.Raw(Json.Serialize(productSalesList)),
                                    backgroundColor: "#bb62f8",
                                    hoverBackgroundColor: '#9b19f5',
                                    borderWidth: 1

                                }
                            ]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            indexAxis: 'y',
                            plugins: {
                                title: {
                                    display: true,
                                    text: '各單點便當總營收',
                                    font: {
                                        size: 30
                                    },
                                    color: 'black'
                                },
                                datalabels: {
                                    align: 'end',
                                    color: 'black',
                                    anchor: 'center',
                                    font: {
                                        weight: 'bold',
                                        size: 20
                                    },
                                    formatter: function (value) {
                                        function numberComma(num) {
                                            let comma = /\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g
                                            return num.toString().replace(comma, ',')
                                        }
                                        return numberComma(value);
                                    }
                                }, tooltip: {
                                    titleFont: {
                                        size: 30
                                    },
                                    bodyFont: {
                                        size: 20
                                    },
                                    footerFont: {
                                        size: 20 // there is no footer by default
                                    }
                                },
                                legend: {
                                    display: false
                                }
                            },
                            scales: {
                                x: {
                                    ticks: {
                                        font: {
                                            size: 20,

                                        }, color: 'black'
                                    }
                                },
                                y: {
                                    ticks: {
                                        font: {
                                            size: 20,

                                        }, color: 'black'
                                    }
                                }
                            }


                        }
                    })




                })


      

            //line chart
        @{
            // 取得 ViewBag 中的資料

            var MonthlyOrderDatesList = ViewBag.MonthlyOrderDates as string[];
            var MonthlyOrderIdPerDayList = ViewBag.MonthlyOrderIdPerDay as int[];
            var MonthlyTotalAmountPerDayList = ViewBag.MonthlyTotalAmountPerDay as int[];
        }
                $(document).ready(function () {

                    var ctx = document.getElementById("DailyOrderChartCanvas");
                    var labChart = new Chart(ctx, {
                        type: "line",
                        data: {
                            labels: @Html.Raw(Json.Serialize(MonthlyOrderDatesList)),
                            datasets: [
                                {
                                    label: "日營收",
                                    data: @Html.Raw(Json.Serialize(MonthlyTotalAmountPerDayList)),
                                    fill: false,
                                    // 著色:
                                    backgroundColor: "#e60049",
                                    borderColor: "#ab0036",
                                    borderWidth: 1,
                                    yAxisID: 'y1'


                                },
                                {
                                    label: "日訂單量",
                                    data: @Html.Raw(Json.Serialize(MonthlyOrderIdPerDayList)),
                                    fill: false,
                                    // 著色:
                                    backgroundColor: "#0bb4ff",
                                    borderColor: "#0083be",
                                    borderWidth: 1,
                                    borderDash: [5, 5], //虛線,
                                    yAxisID: 'y2'

                                }
                            ]
                        }, options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            interaction: {
                                mode: 'index',
                                intersect: false,
                            },
                            plugins: {
                                legend: {
                                    labels: {
                                        // This more specific font property overrides the global property
                                        font: {
                                            size: 20
                                        }
                                    }
                                },
                                datalabels: {
                                    display: false,

                                }, tooltip: {
                                    titleFont: {
                                        size: 30
                                    },
                                    bodyFont: {
                                        size: 20
                                    },
                                    footerFont: {
                                        size: 20 
                                    }
                                },
                                title: {
                                    display: true,
                                    text: '每日營收、來客數折線圖',
                                    font: {
                                        size: 30
                                    },
                                    color: 'black'
                                }
                            },
                            scales: {
                                x: {
                                    ticks: {
                                        font: {
                                            size: 20
                                        }, color: 'black'
                                    }
                                },
                                y1: {
                                    type: 'linear',
                                    display: true,
                                    position: 'left',
                                    ticks: {
                                        font: {
                                            size: 20
                                        }, color: 'black'
                                    }
                                },
                                y2: {
                                    type: 'linear',
                                    display: true,
                                    position: 'right',
                                    ticks: {
                                        font: {
                                            size: 20
                                        }, color: 'black'
                                    }
                                }
                            }
                        }
                    })
                })

            // doughnut plot

        @{
            // 取得 ViewBag 中的資料
            var OrderTotalAmountByCategory = ViewBag.OrderTotalAmountByCategory as int[];
            var OrderTotalAmountCategoryNames = ViewBag.OrderTotalAmountCategoryNames as string[];
            // string[] DutchField = ["#e60049", "#0bb4ff", "#50e991", "#e6d800", "#9b19f5", "#ffa300", "#dc0ab4", "#b3d4ff", "#00bfa0"];
        }

                $(document).ready(function () {

                    const pieGenerateLabelsLegendHandler = Chart.controllers.doughnut.overrides.plugins.legend.labels.generateLabels;
                    const pieLegendClickHandler = Chart.controllers.doughnut.overrides.plugins.legend.onClick;
                    let others = [];

                    var ctx3 = document.getElementById("orderChartCanvas");
                    var pieChart = new Chart(ctx3, {
                        type: "doughnut",
                        data: {
                            labels: @Html.Raw(Json.Serialize(OrderTotalAmountCategoryNames)),
                            datasets: [
                                {
                                    data: @Html.Raw(Json.Serialize(OrderTotalAmountByCategory)),
                                    backgroundColor: ["#e60049", "#0bb4ff", "#50e991"],
                                    borderColor: "white",
                                    borderWidth: 1,
                                }
                            ]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: true,
                            plugins: {
                               
                                datalabels: {
                                    align: 'center',
                                    anchor: 'center',
                                    color: 'black',
                                    font: { weight: 'bold' },
                                    formatter: function (value) {
                                        const percentage = (value * 100 / @ViewBag.SumOrderTodaySales).toFixed(0); // 將數字四捨五入到小數點第二位
                                        if (percentage > 5) {
                                            return percentage + '%';
                                        } else {
                                            return "";
                                        }                                    
                                    },
                                }, tooltip: {
                                    titleFont: {
                                        size: 20
                                    },
                                    bodyFont: {
                                        size: 17
                                    },
                                    footerFont: {
                                        size: 17
                                    }
                                },
                                title: {
                                    display: true,
                                    text: '依據商品分類的今日營收環形圖',
                                    font: {
                                        size: 20
                                    },
                                    color: 'black'
                                },
                                legend: { position: 'bottom' },
                            }, legend: {
                                    labels: {
                                        generateLabels(chart) {
                                            const labels = pieGenerateLabelsLegendHandler(chart);
                                            const sorted = labels.sort((a, b) => chart.data.datasets[0].data[a.index] <= chart.data.datasets[0].data[b.index]);
                                            const top5 = sorted.filter((el, index) => index <= 4);
                                            others = sorted.filter((el, index) => index > 4);
                                            top5.push({ text: 'Others', hidden: others[0].hidden });
                                            return top5;
                                    }
                                    },
                                    onClick(e, legendItem, legend) {
                                        if (legendItem.text === 'Others') {
                                            const ci = legend.chart;
                                            others.forEach(function (item) {
                                                ci.toggleDataVisibility(item.index);
                                            });
                                            ci.update();
                                            return;
                                        }
                                        pieLegendClickHandler(e, legendItem, legend);
                                    }
                                }

                            },

                        })
                })



        </script>
}
