@model ManagerProducts;

@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

@section MyStyle {

    <link rel="stylesheet" href="~/css/Manager/ManagerProducts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Manager/layout.css" asp-append-version="true" />
}

@section BreadCrumb {
    <li class="breadcrumb-item" aria-current="page">
        <a href="/ManagerHome/index"
           class="text-dark text-decoration-none fw-bolder">首頁</a>
    </li>
    <li class="breadcrumb-item">菜單管理</li>
}

@section Content {
    <div class="row">
        <div class="col-lg-2 col-sm-12 pt-4">

            <button class="btn btn-dark btn-lg" id="btnEditProductCategoriesModal">設定商品分類</button>
            @*data-bs-toggle="modal" data-bs-target="#EditProductCategoriesModal
        <a href="/ManagerProducts/CategoryDetails/@product.productID" class="btn btn-dark btn-lg" data-bs-toggle="modal" data-bs-target="#EditProductCategoriesModal">設定商品分類</a>*@

            <hr class="bg-dark text-dark">
            <ul id="ProductsCategoryList" class="row list-unstyled ps-4">
                @{
                    foreach (var category in Model.Categories)
                    {
                                    <li class="ps-4 text-start col-lg-12 col-sm-3 fs-5 custom-font-size-smaller-lg">
                                        @category.CategoryName
                                    </li>
                    }
                }

            </ul>

        </div>
      
        <hr class="area-separator d-lg-none">

        <div id="TableAreas" class="col-lg-10 col-sm-12 row pt-5 pb-4 min-vh-100">
            <form action="/ManagerProducts" method="post">
                <table id="TableProducts" class="table border-bottom border-dark col text-center">
                    <thead>
                        <tr class="fs-6">
                            <th scope="col" style="width: 4%;">#</th>
                            <th scope="col" style="width: 10%;">圖片</th>
                            <th scope="col" style="width: 25%;">商品名稱</th>
                            <th scope="col" style="width: 8%;">價格</th>
                            <th scope="col" style="width: 8%;">庫存數</th>
                            <th scope="col" style="width: 10%;">上架中</th>
                            <th scope="col" style="width: 16%;">商品分類</th>
                            <th scope="col" style="width: 19%;">功能</th>
                        </tr>

                    </thead>
                    <tbody id="ProductsTable">
                       @{

                        int productNumber = (Model.CurrentPageIndex - 1) * Model.MaxRows;
                        foreach (var product in Model.Products)
                           {
                             productNumber++;
                                        <tr>
                                            <th class="align-middle" scope="row">@productNumber</th>
                                            <td class="align-middle">
                                            <img src="~/@product.ProductImage" class="object-fit-cover @(string.IsNullOrEmpty(product.ProductImage) ? "invisible": "")" style="width: 50px; height: 50px;" alt="">
                                            </td>
                                            <td class="align-middle">@product.ProductName</td>
                                            <td class="align-middle">$@Convert.ToInt32(product.ProductUnitPrice)</td>
                                            <td class="align-middle">@product.ProductUnitsInStock</td>
                                            <td class="align-middle">
                                            <div class="form-check form-switch d-flex justify-content-center">
                                                <input class="form-check-input " type="checkbox" id="Switch_@product.ProductId" 
                                                @((product.ProductOnSell == true) ? "checked" : "") />
                                            </div>
                                            </td>
                                            <td class="align-middle">@product.CategoryName</td>
                                            <td class="align-middle">
                                                <a href="/ManagerProducts/ProductCopy/@product.ProductId" class="btn btn-outline-info btn-sm mr-1 mb-1">複製</a>
                                                <a href="/ManagerProducts/ProductEdit/@product.ProductId"
                                                   class="btn btn-outline-success btn-sm mr-1 mb-1">編輯</a>
                                            </td>
                                        </tr>
                            }
                        }

                    </tbody>
                </table>

                <!-- #region Pagination -->

                <div>
                    <ul class="pagination align-items-center justify-content-center">

                        <li id="prevPageButton" class="btn page-item @(Model.CurrentPageIndex == 1 ? "disabled" : "")">
                            <a class="page-link text-dark" href="javascript:PagerClick(@(Model.CurrentPageIndex - 1))">Previous</a>
                        </li>

                        @{
                            if (Model.PageCount <= 3)
                            {
                                            <li id="pageBox1" class="page-item @(Model.CurrentPageIndex == 1 ? "active" : "")">
                                                <a id="pageBox1-link" class="page-link text-dark" href="javascript:PagerClick(1)">
                                                    1
                                                </a>
                                            </li>
                                            <li id="pageBox2" class="page-item @(Model.CurrentPageIndex == 2 ? "active" : "") @(Model.PageCount < 2 ? "disabled" : "")">
                                                <a id="pageBox2-link" class="page-link text-dark" href="javascript:PagerClick(2)">
                                                    2
                                                </a>
                                            </li>
                                            <li id="pageBox3" class="page-item @(Model.CurrentPageIndex == 3 ? "active" : "") @(Model.PageCount < 3 ? "disabled" : "")">
                                                <a id="pageBox3-link" class="page-link text-dark" href="javascript:PagerClick(3)">
                                                    3
                                                </a>
                                            </li>
                            }
                            else
                            {

                                // pageBox1
                                if (Model.CurrentPageIndex == 1)
                                {
                                                <li id="pageBox1" class="page-item active">
                                                    <a id="pageBox1-link" class="page-link text-dark" href="javascript:PagerClick(1)">
                                                        1
                                                    </a>
                                                </li>
                                }
                                else if (Model.CurrentPageIndex == Model.PageCount)
                                {
                                                <li id="pageBox1" class="page-item">
                                                    <a id="pageBox1-link" class="page-link text-dark" href="javascript:PagerClick(@(Model.CurrentPageIndex -2))">
                                                        @(Model.CurrentPageIndex - 2)
                                                    </a>
                                                </li>

                                }
                                else
                                {
                                                <li id="pageBox1" class="page-item">
                                                    <a id="pageBox1-link" class="page-link text-dark" href="javascript:PagerClick(@(Model.CurrentPageIndex -1))">
                                                        @(Model.CurrentPageIndex - 1)
                                                    </a>
                                                </li>
                                }

                                // pageBox2
                                if (Model.CurrentPageIndex == 1)
                                {
                                                <li id="pageBox2" class="page-item">
                                                    <a id="pageBox2-link" class="page-link text-dark" href="javascript:PagerClick(2)">
                                                        2
                                                    </a>
                                                </li>

                                }
                                else if (Model.CurrentPageIndex == Model.PageCount)
                                {
                                                <li id="pageBox2" class="page-item">
                                                    <a id="pageBox2-link" class="page-link text-dark" href="javascript:PagerClick(@(Model.CurrentPageIndex - 1))">
                                                        @(Model.PageCount - 1)
                                                    </a>
                                                </li>
                                }
                                else
                                {

                                                <li id="pageBox2" class="page-item active">
                                                    <a id="pageBox2-link" class="page-link text-dark" href="javascript:PagerClick(@Model.CurrentPageIndex)">
                                                        @Model.CurrentPageIndex
                                                    </a>
                                                </li>
                                }

                                // pageBox3
                                if (Model.CurrentPageIndex == Model.PageCount)
                                {
                                                <li id="pageBox3" class="page-item active">
                                                    <a id="pageBox3-link" class="page-link text-dark" href="javascript:PagerClick(@Model.PageCount)">
                                                        @Model.PageCount
                                                    </a>
                                                </li>
                                }
                                else if (Model.CurrentPageIndex == 1)
                                {
                                                <li id="pageBox3" class="page-item">
                                                    <a id="pageBox3-link" class="page-link text-dark" href="javascript:PagerClick(@Model.CurrentPageIndex + 2)">
                                                        @(Model.CurrentPageIndex + 2)
                                                    </a>
                                                </li>
                                }
                                else
                                {
                                                <li id="pageBox3" class="page-item">
                                                    <a id="pageBox3-link" class="page-link text-dark" href="javascript:PagerClick(@Model.CurrentPageIndex + 1)">
                                                        @(Model.CurrentPageIndex + 1)
                                                    </a>
                                                </li>
                                }

                            }
                        }

                        <li id="nextPageButton" class="btn page-item @(Model.CurrentPageIndex == Model.PageCount ? "disabled" : "")">
                            <a class="page-link text-dark" href="javascript:PagerClick(@(Model.CurrentPageIndex +1))">Next</a>
                        </li>

                    </ul>
                </div>

                <!-- #endregion -->
                <input type="hidden" id="hfCurrentPageIndex" name="CurrentPageIndex"></input>
            </form>
        </div>
    </div>

    <!-- #region Modal: EditProductCategories -->

    <div class="modal fade" id="EditProductCategoriesModal" aria-hidden="true"
         aria-labelledby="EditProductCategoriesModalLabel" tabindex="-1">
        <div class="modal-dialog  modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-2" id="EditProductCategoriesModalLabel">編輯商品分類</h5>
                    @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <a href="" id="btnProductCategoryCreate" class="btn btn-outline-dark me-2 mb-1"
                       data-bs-target="#CreateProductCategoryModal" data-bs-toggle="modal"
                       data-bs-dismiss="modal">新增分類</a>
                    <a href="" class="btn btn-outline-danger me-2 mb-1">關閉視窗</a>
                    <!-- <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Open second modal</button> -->
                </div>
            </div>
        </div>
    </div>

    <!-- #endregion -->
    <!-- #region Modal: CreateProductCategories -->

    <div class="modal fade" id="CreateProductCategoryModal" aria-hidden="true"
         aria-labelledby="CreateProductCategoryModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-2" id="CreateProductCategoryModal">新增商品分類</h5>
                    @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
                </div>
                <div class="modal-body">
                    <div id="alertPlaceholderCategoryCreate" class="d-none">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <span>
                                <strong>警告: </strong><p class="d-inline"></p>
                                <button type="button" id="btnAlertClose" class="btn close float-end shadow-none p-0" data-dismiss="alert" aria-label="Close">
                                    &times;
                                </button>
                            </span>
                        </div>
                    </div>
                    <form action="/ManagerProducts/CategoryCreate" method="post">
                        <label class="form-label" for="CreateCategoryName">商品分類名稱</label>
                        <input class="form-control" id="CreateCategoryName" name="CreateCategoryName" type="text" />

                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Back to first</button> -->
                    <a href="" class="btn btn-success me-2 mb-1" id="ProductCategoryCreateEnsure"
                       data-bs-target="#EditProductCategoriesModal" data-bs-toggle="modal"
                       data-bs-dismiss="modal">新增分類</a>
                    <a href="" class="btn btn-danger me-2 mb-1" id="ProductCategoryCreateCancel"
                       data-bs-target="#EditProductCategoriesModal" data-bs-toggle="modal"
                       data-bs-dismiss="modal">取消設定</a>
                </div>
            </div>
        </div>
    </div>

    <!-- #endregion -->
}

@section Scripts {
    <script>
        // console.log("頁數"+ @Model.PageCount)
        // console.log("現在的頁面" + @Model.CurrentPageIndex)
        // console.log("一頁顯示多少" + @Model.MaxRows)

        function PagerClick(CurrentPageIndex) {
            $("#hfCurrentPageIndex").val(CurrentPageIndex);
            document.forms[0].submit();
        }

        $(function () {

            $("#btnEditProductCategoriesModal").on('click', function () {
                $("#EditProductCategoriesModal .modal-body").load("/ManagerProducts/CategoryDetails", function () {
                    $("#EditProductCategoriesModal").modal("show");
                });

            });


        });


        $('#ProductCategoryCreateEnsure').on('click', function () {
            var CategoryName = $('#CreateCategoryName').val();
            if (CategoryName.trim() !== "") {
                $.ajax({
                    url: '/ManagerProducts/CategoryCreate',
                    method: 'POST',
                    data: { CategoryName: CategoryName },
                    success: function (response) {
                        // 在成功刪除後，重新加載最新的產品類別資料
                        $("#EditProductCategoriesModal .modal-body").load("/ManagerProducts/CategoryDetails", function () {
                            $("#EditProductCategoriesModal").modal("show");
                        });
                    }


                })
            } else {
                $('#alertPlaceholderCategoryCreate .alert-warning p').text("類別名稱不可為空");
                $("#alertPlaceholderCategoryCreate").removeClass("d-none");
            }

        })

        $(".form-check-input").on("change", function () {
            var ProductId = $(this).prop("id").split('_')[1];
            var ProductOnSell = $(this).prop("checked");
            console.log(ProductId);
            console.log(ProductOnSell);

            $.ajax({
                url: '/ManagerProducts/ProductOnSellSwitch',
                method: 'POST',
                data: {
                    ProductId: ProductId,
                    ProductOnSell: ProductOnSell
                },
                success: function (response) {
                    console.log("ProductOnSellSwitch請求成功");
                },
                error: function (xhr, status, error) {
                    console.error("ProductOnSellSwitch請求成功：", error);
                }
            });
        });
        


    </script>
}
