@model msit59_vita.Models.ManagerProducts;

@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    var categoryNames = new List<string>();
}


@section MyStyle {
    <link rel="stylesheet" href="~/css/Manager/layout.css" asp-append-version="true" />
    <style>
        .content-area {
            height: calc(100vh - 80px);
        }

        .category-font {
            font-size: larger !important;
        }

        @@media (min-width: 992px) and (max-width: 1400px) {
            .category-font {
                font-size: large !important;
            }
        }

        @@media (max-width: 992px) {

            .category-font {
                font-size: medium !important;
            }
        }

        #TableAreas {
            padding-top: 45px;
        }

        @@media (max-width: 992px) {

            #TableAreas {
                padding-top: 0;
            }
        }

    </style>
}

@section BreadCrumb {
    <li class="breadcrumb-item" aria-current="page">
        <a href="~/ManagerHome/index"
           class="text-dark text-decoration-none fw-bolder">首頁</a>
    </li>
    <li class="breadcrumb-item">菜單管理</li>
}

@section Content {
    <div class="row">
        <div class="col-lg-2 pt-4 text-center">
            <button class="btn btn-dark btn-lg category-font" id="btnEditProductCategoriesModal">設定商品分類</button>
            <hr />
            <ul id="ProductsCategoryList" class="row list-unstyled">

                @{
                    foreach (var category in Model.Categories)
                    {
                        categoryNames.Add(category.CategoryName);
                                                    <li class="pb-1 text-center col-lg-12 col-3 category-font">
                                                        @category.CategoryName
                                                    </li>
                    }
                }

            </ul>
            <hr class="d-lg-none" />
        </div>


        <div id="TableAreas" class="col-lg-10 col-sm-12 row pt-5 pb-4" >
          

                @{
                    foreach (var product in Model.Products)
                    {
                    <form action="/ManagerProducts/ProductEdit" method="post" id="ProductEditForm"
                          class="needs-validation" novalidate>

                                                            <input type="hidden" id="ProductId" name="ProductId" value="@product.ProductId" />
                                                            <div class="form-group">
                                                                <label class="form-label mb-0 mt-2" for="ProductName">商家名稱</label>
                                                                <input class="form-control" id="ProductName" name="ProductName" type="text" placeholder="商品名稱" value="@product.ProductName" />
                            <div class="invalid-feedback"></div>
                                                                </div>
                                                            <div class="form-group">
                                                                <label class="form-label mb-0 mt-2" for="ProductUnitPrice">價格</label>
                                                                <input class="form-control" id="ProductUnitPrice" name="ProductUnitPrice" type="number" placeholder="價格" value="@Convert.ToInt32(product.ProductUnitPrice)" />
                            <div class="invalid-feedback"></div>
                                                                </div>
                                                            <div class="form-group">
                                                                <label class="form-label mb-0 mt-2" for="ProductUnitsInStock">庫存數</label>
                                                                <input class="form-control" id="ProductUnitsInStock" name="ProductUnitsInStock" type="number"
                                                                       placeholder="庫存數" value="@product.ProductUnitsInStock" />
                            <div class="invalid-feedback"></div>
                                                                       </div>
                                                            <div class="form-group">
                                                                <label class="form-label mb-0 mt-2" for="ProductUnitsInStock">商品分類</label>
                                                                <select class="form-select" id="CategoryList" name="CategoryId">
                                                            @foreach (ProductCategory category in Model.Categories)
                    {
                                                                <!option value="@category.CategoryId" @(product.CategoryId == category.CategoryId ? "selected" : "")>@category.CategoryName</!option>
                    }

                                                                </select>
                            <div class="invalid-feedback"></div>
                                                            </div>

                                                            <div class="form-group">
                                                                <input type="submit" value="確定" class="btn btn-success mt-3" />
                                                                <a href="/ManagerProducts/Index" class="btn btn-danger mt-3">取消</a>
                                                            </div>

                                                        </form>

                                                    <form enctype = "multipart/form-data">
                                        <div class="form-group  mt-5">
                                            <label class="form-label d-block mb-0 mt-2" for="ProductImageDoc">商品圖片</label>
                                                            <div class="row align-items-center">
                                                                <div class="col-9">
                                                                    <input class="form-control d-inline" type="file" id="ProductImageDoc" name="ProductImageDoc" 
                                                                           accept="image/*"  required/>
                                                                </div>
                                                                <div class="col-3">
                                                                <a href="/ManagerProducts/Index" class="btn btn-success mt-3 d-inline" id="btnUploadPicture">上傳</a>
                                                                 <a href="/ManagerProducts/Index" class=" btn btn-danger mt-3 d-inline" id="btnDeletePricture">刪除</a>
                                                                </div>
                                                            </div>
                                                            <span> @(string.IsNullOrEmpty(product.ProductImage) ? "尚未上傳圖片" : $"目前已上傳： {product.ProductImage.Split('/')[2]}")</span>
                                                           
                                                        </div>
                                                    </form>

                    }
                }          

        </div>

        <!-- #region Modal: EditProductCategories -->

        <div class="modal fade" id="EditProductCategoriesModal" aria-hidden="true"
             aria-labelledby="EditProductCategoriesModalLabel" tabindex="-1">
            <div class="modal-dialog  modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fs-2" id="EditProductCategoriesModalLabel">編輯商品分類</h5>
                        @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:void(0)" id="btnProductCategoryCreate" class="btn btn-outline-dark me-2 mb-1"
                           data-bs-target="#CreateProductCategoryModal" data-bs-toggle="modal"
                           data-bs-dismiss="modal">新增分類</a>
                        <a href="" class="btn btn-outline-danger me-2 mb-1">關閉視窗</a>
                        <!-- <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Open second modal</button> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- #endregion -->
        <!-- #region Modal: CreateProductCategories -->

        <div class="modal fade" id="CreateProductCategoryModal" aria-hidden="true"
             aria-labelledby="CreateProductCategoryModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title fs-2" id="CreateProductCategoryModal">新增商品分類</h5>
                    </div>
                    <div class="modal-body">
                        <div id="alertPlaceholderCategoryCreate" class="d-none">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <span>
                                    <strong>警告: </strong><p class="d-inline"></p>
                                    <button type="button" id="btnAlertCloseCategoryCreate" class="btn close float-end shadow-none p-0" data-dismiss="alert" aria-label="Close">
                                        &times;
                                    </button>
                                </span>
                            </div>
                        </div>
                        <form action="/ManagerProducts/CategoryCreate" method="post">
                            <label class="form-label" for="CreateCategoryName">商品分類名稱</label>
                            <input class="form-control" id="CreateCategoryName" name="CreateCategoryName" type="text" />

                        </form>
                    </div>
                    <div class="modal-footer">
                        <!-- <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                            data-bs-dismiss="modal">Back to first</button> -->
                        <a href="" class="btn btn-success me-2 mb-1" id="ProductCategoryCreateEnsure"
                           data-bs-target="#EditProductCategoriesModal">新增分類</a>
                        <a href="" class="btn btn-danger me-2 mb-1" id="ProductCategoryCreateCancel"
                           data-bs-target="#EditProductCategoriesModal" data-bs-toggle="modal"
                           data-bs-dismiss="modal">取消設定</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- #endregion -->
        <!-- #region Modal: Warning -->

        <div class="modal fade" id="WarningModal" tabindex="-1" aria-labelledby="WarningModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">警告</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- #endregion -->
}

@section Scripts {
    <script>
        // 商品分類新增
        $(function () {

            $("#btnEditProductCategoriesModal").on('click', function () {
                $("#EditProductCategoriesModal .modal-body").load("/ManagerProducts/CategoryDetails", function () {
                    $("#EditProductCategoriesModal").modal("show");

                });

            });
        });
            var categoryNameList = @Html.Raw(Json.Serialize(categoryNames));
            $('#ProductCategoryCreateEnsure').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();

                var CategoryName = $('#CreateCategoryName').val().trim();
                if (CategoryName.trim() == "") {
                    $('#alertPlaceholderCategoryCreate .alert-warning p').text("類別名稱不可為空");
                    $("#alertPlaceholderCategoryCreate").removeClass("d-none");
                } else if (categoryNameList.includes(CategoryName)) {
                    $('#alertPlaceholderCategoryCreate .alert-warning p').text("類別名稱已存在，請重新輸入");
                    $("#alertPlaceholderCategoryCreate").removeClass("d-none");
                } else {
                    $.ajax({
                        url: '/ManagerProducts/CategoryCreate',
                        method: 'POST',
                        data: { CategoryName: CategoryName },
                        success: function (response) {
                            categoryNameList.push(CategoryName);
                            $("#EditProductCategoriesModal .modal-body").load("/ManagerProducts/CategoryDetails", function () {
                                $("#CreateProductCategoryModal").modal("hide");
                                $("#EditProductCategoriesModal").modal("show");

                            });
                        }
                    });
                }
            });

            $('#btnAlertCloseCategoryCreate').on("click", function () {
                $('#alertPlaceholderCategoryCreate .alert-warning p').empty();
                $('#alertPlaceholderCategoryCreate').addClass("d-none");
            })



        //ProductEdit獨有

        $('#btnUploadPicture').on("click", function () {
            event.preventDefault();

            $('.input-picture-warning').addClass("d-none");
            var ProductId = $('input[name = ProductId]').val();
            // var ProductImage = $("input[name='ProductImageDoc']").val().split('/').pop(); //只能得到檔案名稱
            var ProductImage = $("input[name='ProductImageDoc']").prop('files')[0]; //獲取文件本身

               console.log(ProductImage == null);
              console.log("我的id是${ProductId}");


            if (ProductImage != null && ProductImage != undefined) {
                var formData = new FormData();
                formData.append('ProductId', ProductId);
                formData.append('ProductImage', ProductImage);

                $.ajax({
                    url: '/ManagerProducts/PictureUpload',
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (!response.success) {
                            $('#WarningModal').modal('show');
                            $('#WarningModal .modal-body').text(response.message);
                        } else {
                            location.reload();
                        }
                    },
                    error: function (xhr, status, error) {
                            $('#WarningModal').modal('show');
                            $('#WarningModal .modal-body').text("上傳失敗，請提供合適的圖片檔案");
                    }
                })

            }else {
                    $('#WarningModal').modal('show');
                    $('#WarningModal .modal-body').text("請先放入圖片");
            }
        })

        $('#btnDeletePricture').on("click",function () {
            $('.input-picture-warning').addClass("d-none");
            var ProductId = $('input[name = ProductId]').val();
            console.log(ProductId)

            $.ajax({
                url: '/ManagerProducts/PictureDelete',
                method: 'POST',
                data: { ProductId: ProductId },
                success: function (response) {
                        if (!response.success) {
                            $('#WarningModal').modal('show');
                            $('#WarningModal .modal-body').text("刪除失敗，請稍後再試");
                        } else {
                            location.reload();
                        }
                }
                
            })

        })
        
        //ProductEdit 表單驗證
        @{
            var ProductNameList = ViewBag.ProductNameList;
        }

                // 获取所有带有 'needs-validation' 类的表单
                $('#ProductEditForm').on('submit', function (event) {


                    var allValidated = true;
                    var productName = document.getElementById('ProductName').value;
                    var productUnitPrice = parseFloat(document.getElementById('ProductUnitPrice').value);
                    var productUnitsInStock = parseFloat(document.getElementById('ProductUnitsInStock').value);
  

                    // 檢查 productName 條件
                    var productNameList = @Html.Raw(Json.Serialize(ProductNameList));
                    if (productName === '') {
                        $('#ProductName').removeClass('is-valid').addClass('is-invalid');
                        var errorFeedback = $('#ProductName').next('.invalid-feedback');
                        errorFeedback.text('商品名稱不可為空').show();
                        allValidated = true;

                    } else if (productNameList && productNameList.includes(productName)) {
                        $('#ProductName').removeClass('is-valid').addClass('is-invalid');
                        var errorFeedback = $('#ProductName').next('.invalid-feedback');
                        errorFeedback.text('商品名稱不能和既有商品重複').show();
                        allValidated = false;
                    }
                    else {
                        $('#ProductName').removeClass('is-invalid').addClass('is-valid');
                        $('#ProductName').next('.invalid-feedback').hide();
                    }


                    // 檢查 productUnitPrice 條件
                    if (productUnitPrice <= 0 || isNaN(productUnitPrice)) {
                        $('#ProductUnitPrice').removeClass('is-valid').addClass('is-invalid');
                        var errorFeedback = $('#ProductUnitPrice').next('.invalid-feedback');
                        errorFeedback.text('商品價格必須大於0元').show();
                        allValidated = false;

                    } else {
                        $('#ProductUnitPrice').removeClass('is-invalid').addClass('is-valid');
                        $('#ProductUnitPrice').next('.invalid-feedback').hide();

                    }

                    // 檢查 productUnitsInStock 條件
                    if (productUnitsInStock <= 0 || isNaN(productUnitsInStock)) {
                        $('#ProductUnitsInStock').removeClass('is-valid').addClass('is-invalid');
                        var errorFeedback = $('#ProductUnitsInStock').next('.invalid-feedback');
                        errorFeedback.text('商品庫存必須大於0單位').show();
                        allValidated = false;

                    } else {
                        $('#ProductUnitsInStock').removeClass('is-invalid').addClass('is-valid');
                        $('#ProductUnitsInStock').next('.invalid-feedback').hide();

                    }



                    if (allValidated) {
                        $('#ProductCreateForm').addClass('was-validated');
                        $('#ProductCreateForm').submit();

                    } else {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                });



    </script>
    }